openapi: 3.1.0
x-language: zh-CN
info:
  title: suno接口文档
  version: "1.0.0"
  description: |
    这是 ModelVerse 上 `suno` 的音频生成接口文档，说明如何提交音乐或音效生成请求、读取结果以及处理错误。
    接口路径包括 `POST /v1/tasks/submit`、`GET /v1/tasks/status`。
servers:
  - url: https://api.modelverse.cn
    description: ModelVerse API endpoint documented for Suno.

tags:
  - name: Suno
    description: Suno asynchronous music generation task operations.

security:
  - bearerAuth: []

paths:
  /v1/tasks/submit:
    post:
      tags:
        - Suno
      operationId: submitSunoMusicTask
      summary: 提交 Suno音乐generation 任务
      description: |
        提交异步任务。请求体中的模型和参数按本模型文档填写，响应会返回任务 ID。
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SunoSubmitRequest"
            examples:
              inspirationMode:
                summary: Inspiration mode
                value:
                  model: suno/chirp-bluejay
                  input:
                    gpt_description_prompt: 一首关于乡愁的歌
              instrumentalInspirationMode:
                summary: Instrumental inspiration mode
                value:
                  model: suno/chirp-bluejay
                  input:
                    gpt_description_prompt: 一首关于乡愁的歌
                  parameters:
                    make_instrumental: true
              customLyricsAndTitle:
                summary: Custom lyrics and title
                value:
                  model: suno/chirp-bluejay
                  input:
                    prompt: |-
                      [Verse]
                      连续的日子一直忙碌
                      文件成堆无尽头
                      把梦想藏在抽屉深处
                      咖啡杯已经冷透

                      [Verse 2]
                      早上八点打卡上班
                      疲惫的眼睛没神采
                      同事间的闲聊都没意思
                      只盼着时间快快跑起来

                      [Chorus]
                      工作工作老板的呼喊
                      做完做完这才算平安
                      加班加班才有些钱赚
                      梦想梦想何时能实现
                  parameters:
                    tags: pop, ballad
                    title: 归乡
              customInstrumentalMode:
                summary: Custom instrumental mode
                value:
                  model: suno/chirp-bluejay
                  input:
                    prompt: ""
                  parameters:
                    tags: pop, ballad
                    title: 归乡
      responses:
        "200":
          description: 任务提交成功。
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SunoSubmitResponse"
              examples:
                submitted:
                  summary: 已提交任务
                  value:
                    output:
                      task_id: task_id
                    request_id: request_id
        "400":
          description: Invalid request parameters or task submission error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SunoHttpErrorResponse"
              examples:
                invalidRequest:
                  $ref: "#/components/examples/SunoHttpError"
        default:
          description: 错误响应。
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SunoHttpErrorResponse"
              examples:
                error:
                  $ref: "#/components/examples/SunoHttpError"

  /v1/tasks/status:
    get:
      tags:
        - Suno
      operationId: getSunoMusicTaskStatus
      summary: 查询 Suno 任务状态
      description: |
        查询异步任务状态。任务完成后，响应中会包含结果 URL、用量信息或错误信息。
      security:
        - bearerAuth: []
      parameters:
        - name: task_id
          in: query
          required: true
          description: Unique identifier of the asynchronous task returned by `/v1/tasks/submit`.
          schema:
            type: string
          example: task_id
      responses:
        "200":
          description: 任务状态响应。
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SunoStatusResponse"
              examples:
                success:
                  summary: 成功任务
                  value:
                    output:
                      task_id: task_id
                      task_status: Success
                      urls:
                        - https://xxxxx/xxxx.mp3
                      submit_time: 1756959000
                      finish_time: 1756959050
                    usage: {}
                    request_id: ""
                failure:
                  summary: 失败任务
                  value:
                    output:
                      task_id: task_id
                      task_status: Failure
                      submit_time: 1756959000
                      finish_time: 1756959019
                      error_message: error_message
                    request_id: ""
        "400":
          description: 任务标识或请求参数无效。
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SunoHttpErrorResponse"
              examples:
                invalidRequest:
                  $ref: "#/components/examples/SunoHttpError"
        default:
          description: 错误响应。
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SunoHttpErrorResponse"
              examples:
                error:
                  $ref: "#/components/examples/SunoHttpError"

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API key
      description: |
        查询异步任务状态。任务完成后，响应中会包含结果 URL、用量信息或错误信息。
  schemas:
    SunoSubmitRequest:
      type: object
      additionalProperties: false
      required:
        - model
      properties:
        model:
          $ref: "#/components/schemas/SunoModel"
        input:
          $ref: "#/components/schemas/SunoInput"
        parameters:
          $ref: "#/components/schemas/SunoParameters"

    SunoModel:
      type: string
      description: |
        查询异步任务状态。任务完成后，响应中会包含结果 URL、用量信息或错误信息。
      enum:
        - suno-v4
        - suno-v4.5
        - suno-v4.5+
        - suno-v4.5-all
        - suno-v5
        - suno-v5.5
        - suno/chirp-bluejay

    SunoInput:
      type: object
      additionalProperties: false
      properties:
        prompt:
          type: string
          description: Lyrics for custom mode.
        gpt_description_prompt:
          type: string
          description: Inspiration prompt for inspiration mode.

    SunoParameters:
      type: object
      additionalProperties: false
      properties:
        tags:
          type: string
          description: Style tags for custom mode.
        title:
          type: string
          description: Title for custom mode.
        make_instrumental:
          type: boolean
          description: Whether to generate instrumental music. `true` generates instrumental music.

    SunoSubmitResponse:
      type: object
      additionalProperties: false
      required:
        - output
        - request_id
      properties:
        output:
          $ref: "#/components/schemas/SunoSubmitOutput"
        request_id:
          type: string
          description: 唯一请求标识。

    SunoSubmitOutput:
      type: object
      additionalProperties: false
      required:
        - task_id
      properties:
        task_id:
          type: string
          description: 异步任务唯一标识。

    SunoStatusResponse:
      type: object
      additionalProperties: false
      required:
        - output
        - request_id
      properties:
        output:
          $ref: "#/components/schemas/SunoStatusOutput"
        usage:
          type: object
          additionalProperties: true
          description: Usage object shown in the successful status response example.
        request_id:
          type: string
          description: 唯一请求标识。

    SunoStatusOutput:
      type: object
      additionalProperties: false
      required:
        - task_id
        - task_status
      properties:
        task_id:
          type: string
          description: 异步任务唯一标识。
        task_status:
          $ref: "#/components/schemas/SunoTaskStatus"
        urls:
          type: array
          description: Result URL list. The source example shows an MP3 URL.
          items:
            type: string
            format: uri
        submit_time:
          type: integer
          format: int64
          description: 任务提交时间戳。
        finish_time:
          type: integer
          format: int64
          description: 任务完成时间戳。
        error_message:
          type: string
          description: 任务失败时返回的错误信息。

    SunoTaskStatus:
      type: string
      enum:
        - Pending
        - Running
        - Success
        - Failure
      description: |
        查询异步任务状态。任务完成后，响应中会包含结果 URL、用量信息或错误信息。
    SunoHttpErrorResponse:
      type: object
      additionalProperties: true
      description: |
        查询异步任务状态。任务完成后，响应中会包含结果 URL、用量信息或错误信息。
      properties:
        error:
          $ref: "#/components/schemas/SunoHttpErrorObject"
        request_id:
          type: string

    SunoHttpErrorObject:
      type: object
      additionalProperties: true
      properties:
        message:
          type: string
          description: 错误信息。
        type:
          type: string
          description: 错误类型。
        code:
          type:
            - string
            - "null"
          description: 错误码。
        param:
          type:
            - string
            - "null"
          description: 相关请求参数，如有。

  examples:
    SunoHttpError:
      summary: HTTP 错误响应
      value:
        error:
          message: Invalid param
          type: invalid_request_error
          code: param_error
          param: model
