openapi: 3.1.0
x-language: en-US
info:
  title: ModelVerse gpt-image-1 Image API
  version: "1.0.0"
  description: |
    Self-contained OpenAPI 3.1 schema for the ModelVerse `gpt-image-1`
    image generation and image edit APIs, converted from

servers:
  - url: https://api.modelverse.cn
    description: ModelVerse API endpoint shown in the source document.

tags:
  - name: GptImage1 Images
    description: OpenAI-compatible image generation and multipart image edit APIs for `gpt-image-1`.

security:
  - bearerAuth: []

paths:
  /v1/images/generations:
    post:
      tags:
        - GptImage1 Images
      operationId: createGptImage1ImageGeneration
      summary: Generate images with gpt-image-1
      description: Generate one or more images with the `gpt-image-1` model.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GptImage1GenerateRequest"
            examples:
              flower_png:
                summary: Generate a PNG image
                value:
                  model: gpt-image-1
                  prompt: a beautiful flower
                  size: 1024x1024
                  quality: high
                  output_format: png
                  output_compression: 100
      responses:
        "200":
          description: Image generation response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GptImage1ImageResponse"
              examples:
                base64_image:
                  summary: Generated image returned as Base64
                  value:
                    created: 1750667997
                    data:
                      - b64_json: "{image_base64_string}"
                    usage:
                      total_tokens: 4169
                      input_tokens: 9
                      output_tokens: 4160
                      input_tokens_details:
                        text_tokens: 9
        "400":
          $ref: "#/components/responses/BadRequest"
        default:
          $ref: "#/components/responses/Error"

  /v1/images/edits:
    post:
      tags:
        - GptImage1 Images
      operationId: createGptImage1ImageEdit
      summary: Edit an image with gpt-image-1
      description: |
        Edit an uploaded image with the `gpt-image-1` model. The request uses
        `multipart/form-data`; `image`, `model`, and `prompt` are required, and
        `mask` is optional.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/GptImage1EditRequest"
            encoding:
              image:
                contentType: image/png
              mask:
                contentType: image/png
            examples:
              add_beach_ball:
                summary: Edit an image with an optional mask
                value:
                  image: /path/to/your/image.png
                  mask: /path/to/your/mask.png
                  model: gpt-image-1
                  prompt: Add a beach ball in the center
                  size: 1024x1024
                  n: 1
                  quality: high
                  output_format: png
                  output_compression: 100
      responses:
        "200":
          description: Image edit response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GptImage1ImageResponse"
              examples:
                base64_image:
                  summary: Edited image returned as Base64
                  value:
                    created: 1750667997
                    data:
                      - b64_json: "{image_base64_string}"
                    usage:
                      total_tokens: 4169
                      input_tokens: 9
                      output_tokens: 4160
                      input_tokens_details:
                        text_tokens: 9
        "400":
          $ref: "#/components/responses/BadRequest"
        default:
          $ref: "#/components/responses/Error"

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer

  responses:
    BadRequest:
      description: Invalid request.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          examples:
            documented_error:
              summary: Error response
              value:
                error:
                  message: error_message
                  type: error_type
                  param: request_id
                  code: error_code
    Error:
      description: Error response.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          examples:
            documented_error:
              summary: Error response
              value:
                error:
                  message: error_message
                  type: error_type
                  param: request_id
                  code: error_code

  schemas:
    GptImage1GenerateRequest:
      type: object
      additionalProperties: false
      required:
        - model
        - prompt
      properties:
        model:
          type: string
          const: gpt-image-1
          description: Model name. This API is pinned to `gpt-image-1`.
        prompt:
          type: string
          description: Prompt describing the image to generate.
        n:
          type: integer
          minimum: 1
          maximum: 4
          default: 1
          description: Number of images to generate.
        size:
          $ref: "#/components/schemas/GptImage1Size"
        quality:
          $ref: "#/components/schemas/GptImage1Quality"
        output_format:
          $ref: "#/components/schemas/GptImage1OutputFormat"
        output_compression:
          $ref: "#/components/schemas/GptImage1OutputCompression"

    GptImage1EditRequest:
      type: object
      additionalProperties: false
      required:
        - image
        - model
        - prompt
      properties:
        image:
          type: string
          format: binary
          description: Image file to edit.
        mask:
          type: string
          format: binary
          description: Optional mask file used to limit the edited area.
        model:
          type: string
          const: gpt-image-1
          description: Model name. This API is pinned to `gpt-image-1`.
        prompt:
          type: string
          description: Prompt describing the edit to apply.
        n:
          type: integer
          minimum: 1
          maximum: 4
          default: 1
          description: Number of edited images to generate.
        size:
          $ref: "#/components/schemas/GptImage1Size"
        quality:
          $ref: "#/components/schemas/GptImage1Quality"
        output_format:
          $ref: "#/components/schemas/GptImage1OutputFormat"
        output_compression:
          $ref: "#/components/schemas/GptImage1OutputCompression"

    GptImage1Size:
      type: string
      enum:
        - 1024x1024
        - 1024x1536
        - 1536x1024
      default: 1024x1024
      description: Output image resolution supported by `gpt-image-1`.

    GptImage1Quality:
      type: string
      enum:
        - low
        - medium
        - high
      description: Image quality. Higher quality takes longer to generate.

    GptImage1OutputFormat:
      type: string
      enum:
        - png
        - jpeg
      default: png
      description: Output image file format.

    GptImage1OutputCompression:
      type: integer
      minimum: 0
      maximum: 100
      default: 100
      description: Output image compression strength; `0` disables compression and `100` is maximum compression.

    GptImage1ImageResponse:
      type: object
      additionalProperties: false
      required:
        - created
        - data
      properties:
        created:
          type: integer
          format: int64
          description: Unix timestamp, in seconds, when the request was created.
        data:
          type: array
          description: Image results. The source document notes that `gpt-image-1` returns Base64 image data.
          items:
            $ref: "#/components/schemas/GptImage1ImageData"
        usage:
          $ref: "#/components/schemas/GptImage1Usage"
        error:
          $ref: "#/components/schemas/ErrorObject"

    GptImage1ImageData:
      type: object
      additionalProperties: false
      required:
        - b64_json
      properties:
        b64_json:
          type: string
          contentEncoding: base64
          description: Base64-encoded generated or edited image data.

    GptImage1Usage:
      type: object
      additionalProperties: false
      properties:
        total_tokens:
          type: integer
          description: Total tokens used by the request.
        input_tokens:
          type: integer
          description: Input tokens used by the request.
        output_tokens:
          type: integer
          description: Output tokens used by the request.
        input_tokens_details:
          type: object
          additionalProperties: false
          properties:
            text_tokens:
              type: integer
              description: Text input tokens used by the request.

    ErrorResponse:
      type: object
      additionalProperties: false
      required:
        - error
      properties:
        error:
          $ref: "#/components/schemas/ErrorObject"

    ErrorObject:
      type: object
      additionalProperties: false
      required:
        - message
        - type
      properties:
        message:
          type: string
          description: Error message.
        type:
          type: string
          description: Error type.
        param:
          type:
            - string
            - "null"
          description: Request ID or parameter related to the error.
        code:
          type:
            - string
            - "null"
          description: Machine-readable error code.
