openapi: 3.1.0
x-language: en-US
info:
  title: ModelVerse HappyHorse-1.0-Video-Edit Video Task API
  version: "1.0.0"
  description: |
    Self-contained OpenAPI 3.1 schema for the ModelVerse
    HappyHorse-1.0-Video-Edit asynchronous video editing task API.

servers:
  - url: https://api.modelverse.cn
    description: ModelVerse API endpoint documented for this model.

tags:
  - name: HappyHorse-1.0-Video-Edit
    description: Video editing asynchronous task operations for HappyHorse-1.0-Video-Edit.

paths:
  /v1/tasks/submit:
    post:
      tags:
        - HappyHorse-1.0-Video-Edit
      operationId: submitHappyHorse10VideoEditTask
      summary: Submit a HappyHorse-1.0-Video-Edit task
      description: Submit an asynchronous video editing task.
      security:
        - bearerAuth: []
      parameters:
        - name: X-DashScope-Async
          in: header
          required: true
          description: Enables asynchronous task submission as shown in the source request example.
          schema:
            type: string
            const: enable
          example: enable
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/HappyHorse10VideoEditSubmitRequest"
            examples:
              documented:
                summary: Source video edit request
                value:
                  model: happyhorse-1.0-video-edit
                  input:
                    prompt: 让视频中的角色穿上参考图中的条纹毛衣
                    video_url: https://example.com/input.mp4
                    images:
                      - https://example.com/reference.webp
                  parameters:
                    resolution: 720P
                    audio_setting: origin
              withOptionalControls:
                summary: Video edit request with optional controls
                value:
                  model: happyhorse-1.0-video-edit
                  input:
                    prompt: Replace the actor's jacket with the striped sweater in the reference image.
                    video_url: https://example.com/input.mp4
                    images:
                      - https://example.com/reference-1.webp
                      - https://example.com/reference-2.webp
                  parameters:
                    resolution: 1080P
                    watermark: false
                    audio_setting: auto
                    seed: 12345
      responses:
        "200":
          description: Task submitted successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HappyHorse10VideoEditSubmitResponse"
              examples:
                submitted:
                  summary: Submitted task
                  value:
                    output:
                      task_id: task_id
                    request_id: request_id
        "400":
          description: Invalid request parameters.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HappyHorse10VideoEditErrorResponse"
              examples:
                paramError:
                  $ref: "#/components/examples/HappyHorse10VideoEditParamError"
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HappyHorse10VideoEditErrorResponse"
              examples:
                error:
                  $ref: "#/components/examples/HappyHorse10VideoEditParamError"

  /v1/tasks/status:
    get:
      tags:
        - HappyHorse-1.0-Video-Edit
      operationId: getHappyHorse10VideoEditTaskStatus
      summary: Query HappyHorse-1.0-Video-Edit task status
      description: Query the status and result URLs for an asynchronous video editing task.
      security:
        - bearerAuth: []
      parameters:
        - name: task_id
          in: query
          required: true
          description: Asynchronous task identifier returned by `/v1/tasks/submit`.
          schema:
            type: string
          example: task_id
      responses:
        "200":
          description: Task status response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HappyHorse10VideoEditStatusResponse"
              examples:
                success:
                  summary: Successful task
                  value:
                    output:
                      task_id: task_id
                      task_status: Success
                      urls:
                        - https://xxxxx/edited-video.mp4
                      submit_time: 1756959000
                      finish_time: 1756959050
                    usage:
                      duration: 5
                      input_video_duration: 5.2
                      output_video_duration: 5
                      video_count: 1
                      SR: 720
                    request_id: request_id
                failure:
                  summary: Failed task
                  value:
                    output:
                      task_id: task_id
                      task_status: Failure
                      submit_time: 1756959000
                      finish_time: 1756959019
                      error_message: error_message
                    usage:
                      duration: 0
                      input_video_duration: 5.2
                      output_video_duration: 0
                      video_count: 0
                      SR: 720
                    request_id: request_id
        "400":
          description: Invalid task identifier or request parameters.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HappyHorse10VideoEditErrorResponse"
              examples:
                paramError:
                  $ref: "#/components/examples/HappyHorse10VideoEditParamError"
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HappyHorse10VideoEditErrorResponse"
              examples:
                error:
                  $ref: "#/components/examples/HappyHorse10VideoEditParamError"

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API key
      description: "ModelVerse API key sent as `Authorization: Bearer <YOUR_API_KEY>`."

  schemas:
    HappyHorse10VideoEditSubmitRequest:
      type: object
      additionalProperties: false
      required:
        - model
        - input
      properties:
        model:
          type: string
          const: happyhorse-1.0-video-edit
          description: Model name. This schema is pinned to `happyhorse-1.0-video-edit`.
        input:
          $ref: "#/components/schemas/HappyHorse10VideoEditInput"
        parameters:
          $ref: "#/components/schemas/HappyHorse10VideoEditParameters"

    HappyHorse10VideoEditInput:
      type: object
      additionalProperties: false
      required:
        - prompt
        - video_url
      properties:
        prompt:
          type: string
          minLength: 1
          description: Text instruction describing the intended video edit.
        video_url:
          type: string
          format: uri
          description: URL of the video to edit.
        images:
          type: array
          description: Reference image URL list.
          maxItems: 5
          items:
            type: string
            format: uri

    HappyHorse10VideoEditParameters:
      type: object
      additionalProperties: false
      properties:
        resolution:
          type: string
          enum:
            - 720P
            - 1080P
          default: 1080P
          description: Generated video resolution tier.
        watermark:
          type: boolean
          default: true
          description: Whether to add a watermark to the generated video.
        audio_setting:
          type: string
          enum:
            - auto
            - origin
          default: auto
          description: Audio control setting.
        seed:
          type: integer
          minimum: 0
          maximum: 2147483647
          description: Random seed.

    HappyHorse10VideoEditSubmitResponse:
      type: object
      additionalProperties: false
      required:
        - output
        - request_id
      properties:
        output:
          $ref: "#/components/schemas/HappyHorse10VideoEditSubmitOutput"
        request_id:
          type: string
          description: Unique request identifier.

    HappyHorse10VideoEditSubmitOutput:
      type: object
      additionalProperties: false
      required:
        - task_id
      properties:
        task_id:
          type: string
          description: Unique identifier of the asynchronous task.

    HappyHorse10VideoEditStatusResponse:
      type: object
      additionalProperties: false
      required:
        - output
        - request_id
      properties:
        output:
          $ref: "#/components/schemas/HappyHorse10VideoEditStatusOutput"
        usage:
          $ref: "#/components/schemas/HappyHorse10VideoEditUsage"
        request_id:
          type: string
          description: Unique request identifier.

    HappyHorse10VideoEditStatusOutput:
      type: object
      additionalProperties: false
      required:
        - task_id
        - task_status
      properties:
        task_id:
          type: string
          description: Unique identifier of the asynchronous task.
        task_status:
          $ref: "#/components/schemas/HappyHorse10VideoEditTaskStatus"
        urls:
          type: array
          description: Video result URL list.
          items:
            type: string
            format: uri
        submit_time:
          type: integer
          format: int64
          description: Task submission timestamp.
        finish_time:
          type: integer
          format: int64
          description: Task completion timestamp.
        error_message:
          type: string
          description: Error message returned when the task fails.

    HappyHorse10VideoEditTaskStatus:
      type: string
      enum:
        - Pending
        - Running
        - Success
        - Failure
      description: Current asynchronous task status.

    HappyHorse10VideoEditUsage:
      type: object
      additionalProperties: false
      properties:
        duration:
          type: integer
          description: Billed video duration in seconds.
        input_video_duration:
          type: number
          description: Input video duration in seconds.
        output_video_duration:
          type: number
          description: Output video duration in seconds.
        video_count:
          type: integer
          description: Number of output videos.
        SR:
          type: integer
          description: Output video resolution height, for example `720` or `1080`.

    HappyHorse10VideoEditErrorResponse:
      type: object
      additionalProperties: true
      required:
        - error
      properties:
        error:
          $ref: "#/components/schemas/HappyHorse10VideoEditErrorObject"
        request_id:
          type: string
          description: Unique request identifier, if available.

    HappyHorse10VideoEditErrorObject:
      type: object
      additionalProperties: true
      required:
        - message
        - type
      properties:
        message:
          type: string
          description: Error message.
        type:
          type: string
          description: Error type.
        code:
          type:
            - string
            - "null"
          description: Error code.
        param:
          type:
            - string
            - "null"
          description: Related request parameter, if any.

  examples:
    HappyHorse10VideoEditParamError:
      summary: Invalid parameter error
      value:
        error:
          message: Invalid param
          type: invalid_request_error
          code: param_error
          param: input.video_url
        request_id: request_id
