openapi: 3.1.0
x-language: en-US
info:
  title: ModelVerse HappyHorse-1.0-I2V Video Task API
  version: "1.0.0"
  description: |
    Self-contained OpenAPI 3.1 schema for the ModelVerse HappyHorse-1.0-I2V
    image-to-video asynchronous task API.

servers:
  - url: https://api.modelverse.cn
    description: ModelVerse API endpoint documented for this model.

tags:
  - name: HappyHorse-1.0-I2V
    description: Image-to-video asynchronous task operations for HappyHorse-1.0-I2V.

paths:
  /v1/tasks/submit:
    post:
      tags:
        - HappyHorse-1.0-I2V
      operationId: submitHappyHorse10I2VTask
      summary: Submit a HappyHorse-1.0-I2V image-to-video task
      description: Submit an asynchronous image-to-video generation task.
      security:
        - bearerAuth: []
      parameters:
        - name: X-DashScope-Async
          in: header
          required: true
          description: Enables asynchronous task submission as shown in the source request example.
          schema:
            type: string
            const: enable
          example: enable
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/HappyHorse10I2VSubmitRequest"
            examples:
              documented:
                summary: Source image-to-video request
                value:
                  model: happyhorse-1.0-i2v
                  input:
                    prompt: 一只猫在草地上奔跑
                    img_url: https://example.com/cat.png
                  parameters:
                    resolution: 720P
                    duration: 5
              withOptionalControls:
                summary: Image-to-video request with optional controls
                value:
                  model: happyhorse-1.0-i2v
                  input:
                    prompt: A cat runs across a meadow at sunrise.
                    first_frame_url: https://example.com/cat.png
                  parameters:
                    resolution: 1080P
                    duration: 8
                    watermark: false
                    seed: 12345
              withImagesAlias:
                summary: Image-to-video request using the images alias
                value:
                  model: happyhorse-1.0-i2v
                  input:
                    prompt: A cat runs across a meadow at sunrise.
                    images:
                      - https://example.com/cat.png
                  parameters:
                    duration: 5
      responses:
        "200":
          description: Task submitted successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HappyHorse10I2VSubmitResponse"
              examples:
                submitted:
                  summary: Submitted task
                  value:
                    output:
                      task_id: task_id
                    request_id: request_id
        "400":
          description: Invalid request parameters.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HappyHorse10I2VErrorResponse"
              examples:
                paramError:
                  $ref: "#/components/examples/HappyHorse10I2VParamError"
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HappyHorse10I2VErrorResponse"
              examples:
                error:
                  $ref: "#/components/examples/HappyHorse10I2VParamError"

  /v1/tasks/status:
    get:
      tags:
        - HappyHorse-1.0-I2V
      operationId: getHappyHorse10I2VTaskStatus
      summary: Query HappyHorse-1.0-I2V task status
      description: Query the status and result URLs for an asynchronous image-to-video task.
      security:
        - bearerAuth: []
      parameters:
        - name: task_id
          in: query
          required: true
          description: Asynchronous task identifier returned by `/v1/tasks/submit`.
          schema:
            type: string
          examples:
            placeholder:
              summary: Source documentation placeholder
              value: task_id
      responses:
        "200":
          description: Task status response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HappyHorse10I2VStatusResponse"
              examples:
                success:
                  summary: Successful task
                  value:
                    output:
                      task_id: task_id
                      task_status: Success
                      urls:
                        - https://xxxxx/xxxx.mp4
                      submit_time: 1756959000
                      finish_time: 1756959050
                    usage:
                      duration: 5
                      output_video_duration: 5
                      video_count: 1
                      SR: 720
                    request_id: request_id
                failure:
                  summary: Failed task
                  value:
                    output:
                      task_id: task_id
                      task_status: Failure
                      submit_time: 1756959000
                      finish_time: 1756959019
                      error_message: error_message
                    usage:
                      duration: 5
                      output_video_duration: 0
                      video_count: 0
                      SR: 720
                    request_id: request_id
        "400":
          description: Invalid task identifier or request parameters.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HappyHorse10I2VErrorResponse"
              examples:
                paramError:
                  $ref: "#/components/examples/HappyHorse10I2VParamError"
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HappyHorse10I2VErrorResponse"
              examples:
                error:
                  $ref: "#/components/examples/HappyHorse10I2VParamError"

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API key
      description: "ModelVerse API key sent as `Authorization: Bearer <YOUR_API_KEY>`."

  schemas:
    HappyHorse10I2VSubmitRequest:
      type: object
      additionalProperties: false
      required:
        - model
        - input
      properties:
        model:
          type: string
          const: happyhorse-1.0-i2v
          description: Model name. This schema is pinned to `happyhorse-1.0-i2v`.
        input:
          $ref: "#/components/schemas/HappyHorse10I2VInput"
        parameters:
          $ref: "#/components/schemas/HappyHorse10I2VParameters"

    HappyHorse10I2VInput:
      type: object
      additionalProperties: false
      anyOf:
        - required:
            - img_url
        - required:
            - first_frame_url
        - required:
            - images
      properties:
        prompt:
          type: string
          description: Text prompt describing the desired generated video content.
        img_url:
          type: string
          format: uri
          description: Video first-frame image URL. This is the primary field documented for the model.
        first_frame_url:
          type: string
          format: uri
          description: Compatible alias for `img_url`.
        images:
          type: array
          minItems: 1
          description: Compatible image URL list alias. The first item is used as the first frame.
          items:
            type: string
            format: uri

    HappyHorse10I2VParameters:
      type: object
      additionalProperties: false
      properties:
        resolution:
          type: string
          enum:
            - 720P
            - 1080P
          default: 1080P
          description: Generated video resolution tier.
        duration:
          type: integer
          minimum: 3
          maximum: 15
          default: 5
          description: Generated video duration in seconds.
        watermark:
          type: boolean
          default: true
          description: Whether to add a watermark to the generated video.
        seed:
          type: integer
          minimum: 0
          maximum: 2147483647
          description: Random seed.

    HappyHorse10I2VSubmitResponse:
      type: object
      additionalProperties: false
      required:
        - output
        - request_id
      properties:
        output:
          $ref: "#/components/schemas/HappyHorse10I2VSubmitOutput"
        request_id:
          type: string
          description: Unique request identifier.

    HappyHorse10I2VSubmitOutput:
      type: object
      additionalProperties: false
      required:
        - task_id
      properties:
        task_id:
          type: string
          description: Unique identifier of the asynchronous task.

    HappyHorse10I2VStatusResponse:
      type: object
      additionalProperties: false
      required:
        - output
        - request_id
      properties:
        output:
          $ref: "#/components/schemas/HappyHorse10I2VStatusOutput"
        usage:
          $ref: "#/components/schemas/HappyHorse10I2VUsage"
        request_id:
          type: string
          description: Unique request identifier.

    HappyHorse10I2VStatusOutput:
      type: object
      additionalProperties: false
      required:
        - task_id
        - task_status
      properties:
        task_id:
          type: string
          description: Unique identifier of the asynchronous task.
        task_status:
          $ref: "#/components/schemas/HappyHorse10I2VTaskStatus"
        urls:
          type: array
          description: Video result URL list.
          items:
            type: string
            format: uri
        submit_time:
          type: integer
          format: int64
          description: Task submission timestamp.
        finish_time:
          type: integer
          format: int64
          description: Task completion timestamp.
        error_message:
          type: string
          description: Error message returned when the task fails.

    HappyHorse10I2VTaskStatus:
      type: string
      enum:
        - Pending
        - Running
        - Success
        - Failure
      description: Current asynchronous task status.

    HappyHorse10I2VUsage:
      type: object
      additionalProperties: false
      properties:
        duration:
          type: integer
          description: Billed video duration in seconds.
        output_video_duration:
          type: number
          description: Output video duration in seconds.
        video_count:
          type: integer
          description: Number of output videos.
        SR:
          type: integer
          description: Output video resolution height, for example `720` or `1080`.

    HappyHorse10I2VErrorResponse:
      type: object
      additionalProperties: true
      required:
        - error
      properties:
        error:
          $ref: "#/components/schemas/HappyHorse10I2VErrorObject"
        request_id:
          type: string
          description: Unique request identifier, if available.

    HappyHorse10I2VErrorObject:
      type: object
      additionalProperties: true
      required:
        - message
        - type
      properties:
        message:
          type: string
          description: Error message.
        type:
          type: string
          description: Error type.
          examples:
            - invalid_request_error
        code:
          type:
            - string
            - "null"
          description: Error code.
          examples:
            - param_error
        param:
          type:
            - string
            - "null"
          description: Related request parameter, if any.

  examples:
    HappyHorse10I2VParamError:
      summary: Invalid parameter error
      value:
        error:
          message: Invalid param
          type: invalid_request_error
          code: param_error
          param: input.img_url
        request_id: request_id
