openapi: 3.1.0
x-language: en-US
info:
  title: ModelVerse Kling/V3-Omni Video Task API
  version: "1.0.0"
  description: |
    Self-contained OpenAPI 3.1 schema for the ModelVerse Kling/V3-Omni
    multimodal asynchronous video generation task API.

servers:
  - url: https://api.modelverse.cn
    description: ModelVerse API endpoint documented for this model.

tags:
  - name: Kling/V3-Omni
    description: Multimodal video generation asynchronous task operations for Kling/V3-Omni.

security:
  - bearerAuth: []

paths:
  /v1/tasks/submit:
    post:
      tags:
        - Kling/V3-Omni
      operationId: submitKlingO3Task
      summary: Submit a Kling/V3-Omni video task
      description: |
        Submit an asynchronous multimodal video generation task for the
        `kling-v3-omni` model. The model supports text, image, and video
        references, including first/end frames, video editing, feature
        references, and custom multi-shot prompts.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/KlingO3SubmitRequest"
            examples:
              textToVideo:
                summary: Text-to-video request with sound
                value:
                  model: kling-v3-omni
                  input:
                    prompt: A beautiful sunset over the ocean with waves gently crashing
                  parameters:
                    mode: pro
                    aspect_ratio: "16:9"
                    duration: 5
                    sound: "on"
              imageReferenceStartEndFrames:
                summary: Image reference with first and end frames
                value:
                  model: kling-v3-omni
                  input:
                    prompt: A girl walking through a garden
                  parameters:
                    mode: pro
                    aspect_ratio: "16:9"
                    duration: 5
                    image_list:
                      - image_url: https://example.com/first_frame.jpg
                        type: first_frame
                      - image_url: https://example.com/last_frame.jpg
                        type: end_frame
              videoEditBaseReference:
                summary: Video editing request with a base video
                value:
                  model: kling-v3-omni
                  input:
                    prompt: Add a cinematic color grading effect
                  parameters:
                    mode: pro
                    video_list:
                      - video_url: https://example.com/input.mp4
                        refer_type: base
                        keep_original_sound: "yes"
              multiShotImageReference:
                summary: Custom multi-shot request with an image reference
                value:
                  model: kling-v3-omni
                  parameters:
                    mode: pro
                    aspect_ratio: "16:9"
                    duration: 5
                    multi_shot: true
                    shot_type: customize
                    multi_prompt:
                      - index: 1
                        prompt: "<<<image_1>>>A person sitting on a park bench, sunlight filtering through trees"
                        duration: "2"
                      - index: 2
                        prompt: A car speeding down a rainy street, headlights glowing
                        duration: "3"
                    image_list:
                      - image_url: https://example.com/person.jpg
                    sound: "on"
      responses:
        "200":
          description: Task submitted successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/KlingO3SubmitResponse"
              examples:
                submitted:
                  summary: Submitted task
                  value:
                    output:
                      task_id: task_id
                    request_id: request_id
        "400":
          description: Invalid request parameters or task creation failure.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/KlingO3ErrorResponse"
              examples:
                taskCreationError:
                  $ref: "#/components/examples/KlingO3TaskCreationError"
        "401":
          description: Invalid or missing bearer token.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/KlingO3ErrorResponse"
              examples:
                authError:
                  $ref: "#/components/examples/KlingO3AuthError"
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/KlingO3ErrorResponse"
              examples:
                error:
                  $ref: "#/components/examples/KlingO3TaskCreationError"

  /v1/tasks/status:
    get:
      tags:
        - Kling/V3-Omni
      operationId: getKlingO3TaskStatus
      summary: Query a Kling/V3-Omni task status
      description: Query the status and result URLs for an asynchronous Kling/V3-Omni video task.
      parameters:
        - name: task_id
          in: query
          required: true
          description: Asynchronous task identifier returned by `/v1/tasks/submit`.
          schema:
            type: string
          examples:
            documented:
              summary: Source documentation placeholder
              value: task_id
      responses:
        "200":
          description: Task status response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/KlingO3StatusResponse"
              examples:
                success:
                  summary: Successful task
                  value:
                    output:
                      task_id: task_id
                      task_status: Success
                      urls:
                        - https://xxxxx/xxxx.mp4
                      submit_time: 1756959000
                      finish_time: 1756959050
                    usage:
                      duration: 5
                    request_id: ""
                failure:
                  summary: Failed task
                  value:
                    output:
                      task_id: task_id
                      task_status: Failure
                      submit_time: 1756959000
                      finish_time: 1756959019
                      error_message: error_message
                    usage:
                      duration: 5
                    request_id: ""
        "400":
          description: Invalid task identifier or request parameters.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/KlingO3ErrorResponse"
              examples:
                paramError:
                  $ref: "#/components/examples/KlingO3ParamError"
        "401":
          description: Invalid or missing bearer token.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/KlingO3ErrorResponse"
              examples:
                authError:
                  $ref: "#/components/examples/KlingO3AuthError"
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/KlingO3ErrorResponse"
              examples:
                error:
                  $ref: "#/components/examples/KlingO3TaskCreationError"

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API key
      description: "ModelVerse API key sent as `Authorization: Bearer <YOUR_API_KEY>`."

  schemas:
    KlingO3SubmitRequest:
      type: object
      additionalProperties: false
      required:
        - model
      properties:
        model:
          type: string
          const: kling-v3-omni
          description: Model name. This schema is pinned to `kling-v3-omni`.
        input:
          $ref: "#/components/schemas/KlingO3Input"
        parameters:
          $ref: "#/components/schemas/KlingO3Parameters"

    KlingO3Input:
      type: object
      additionalProperties: false
      properties:
        prompt:
          type: string
          minLength: 1
          maxLength: 2500
          description: |
            Prompt used to guide video generation. When `multi_shot` is `false`,
            the prompt must be present and can reference images or videos using
            placeholders such as `<<<image_1>>>` and `<<<video_1>>>`.
          examples:
            - A beautiful sunset over the ocean with waves gently crashing
        negative_prompt:
          type: string
          maxLength: 2500
          description: Negative prompt used to limit undesired content.

    KlingO3Parameters:
      type: object
      additionalProperties: false
      properties:
        mode:
          type: string
          enum:
            - std
            - pro
          default: pro
          description: |
            Generation mode. `std` produces standard 720P output and `pro`
            produces professional 1080P output.
        aspect_ratio:
          type: string
          enum:
            - "16:9"
            - "9:16"
            - "1:1"
          description: |
            Video aspect ratio. This is required except when using video
            editing with `video_list[].refer_type` set to `base`.
        duration:
          type: integer
          minimum: 3
          maximum: 15
          default: 5
          description: |
            Generated video duration in seconds. Video reference mode supports
            3 to 10 seconds. When video editing with `refer_type: base`, the
            output duration follows the input video and this parameter is ignored.
        sound:
          type: string
          enum:
            - "on"
            - "off"
          default: "off"
          description: |
            Whether to generate sound. When a reference video is present, this
            parameter must be `off`.
        multi_shot:
          type: boolean
          default: false
          description: |
            Whether to enable multi-shot mode. When `true`, `input.prompt` is
            ignored; when `false`, `shot_type` and `multi_prompt` are ignored.
        shot_type:
          type: string
          enum:
            - customize
          description: Shot type. Required when `multi_shot` is `true`.
        multi_prompt:
          type: array
          minItems: 1
          maxItems: 6
          description: |
            Custom multi-shot prompt list. Required when `multi_shot` is `true`
            and `shot_type` is `customize`. Each shot prompt is limited to 512
            characters, each shot duration must be at least 1 second and no
            greater than the total video duration, and all shot durations must
            add up to the total video duration.
          items:
            $ref: "#/components/schemas/KlingO3MultiPromptItem"
        image_list:
          type: array
          maxItems: 7
          description: |
            Reference image list for first-frame, end-frame, and reference-image
            generation. With a reference video, at most 4 images are supported;
            without a reference video, at most 7 images are supported. More than
            2 images cannot be combined with an end frame, and end-frame-only
            requests are not supported.
          items:
            $ref: "#/components/schemas/KlingO3ImageReference"
        video_list:
          type: array
          maxItems: 1
          description: |
            Reference video list. At most 1 MP4 or MOV video is supported.
            Reference videos must be at least 3 seconds long; when a reference
            video is present, generated-video duration is limited to 3 to 10
            seconds and `sound` must be `off`.
          items:
            $ref: "#/components/schemas/KlingO3VideoReference"
        watermark_enabled:
          type: boolean
          description: Whether to generate a watermarked result. Custom watermarks are not supported.
        external_task_id:
          type: string
          minLength: 1
          description: |
            Caller-provided task identifier. This does not replace the system
            task ID, but the task can be queried with this ID. It must be unique
            for the same user.

    KlingO3MultiPromptItem:
      type: object
      additionalProperties: false
      required:
        - index
        - prompt
        - duration
      properties:
        index:
          type: integer
          minimum: 1
          description: Shot index, starting from 1.
        prompt:
          type: string
          minLength: 1
          maxLength: 512
          description: Prompt for this shot.
        duration:
          type: string
          minLength: 1
          description: Shot duration in seconds, represented as a string in the documented request shape.

    KlingO3ImageReference:
      type: object
      additionalProperties: false
      required:
        - image_url
      properties:
        image_url:
          type: string
          minLength: 1
          description: |
            Image URL or raw Base64-encoded image string. Supported image
            formats are JPG, JPEG, and PNG. File size must be no larger than
            10 MB, width and height must each be at least 300 px, and the
            aspect ratio must be between 1:2.5 and 2.5:1. When using Base64,
            do not include a `data:image/...;base64,` prefix.
          examples:
            - https://example.com/first_frame.jpg
        type:
          type: string
          enum:
            - first_frame
            - end_frame
          description: Image role. Omit for a general reference image.

    KlingO3VideoReference:
      type: object
      additionalProperties: false
      required:
        - video_url
      properties:
        video_url:
          type: string
          format: uri
          description: |
            Reference video URL. Supported formats are MP4 and MOV. The video
            must be at least 3 seconds long, no larger than 200 MB, have width
            and height between 720 px and 2160 px, and use 24 fps to 60 fps.
            Generated video output is 24 fps.
          examples:
            - https://example.com/input.mp4
        refer_type:
          type: string
          enum:
            - feature
            - base
          default: base
          description: |
            Reference type. Use `feature` for feature reference and `base` for
            a source video to edit.
        keep_original_sound:
          type: string
          enum:
            - "yes"
            - "no"
          description: Whether to keep the original audio from the reference video.

    KlingO3SubmitResponse:
      type: object
      additionalProperties: false
      required:
        - output
        - request_id
      properties:
        output:
          type: object
          additionalProperties: false
          required:
            - task_id
          properties:
            task_id:
              type: string
              description: Unique identifier of the asynchronous task.
        request_id:
          type: string
          description: Unique request identifier.

    KlingO3StatusResponse:
      type: object
      additionalProperties: false
      required:
        - output
        - request_id
      properties:
        output:
          $ref: "#/components/schemas/KlingO3StatusOutput"
        usage:
          $ref: "#/components/schemas/KlingO3Usage"
        request_id:
          type: string
          description: Unique request identifier.

    KlingO3StatusOutput:
      type: object
      additionalProperties: false
      required:
        - task_id
        - task_status
      properties:
        task_id:
          type: string
          description: Unique identifier of the asynchronous task.
        task_status:
          $ref: "#/components/schemas/KlingO3TaskStatus"
        urls:
          type: array
          description: Video result URL list.
          items:
            type: string
            format: uri
        submit_time:
          type: integer
          format: int64
          description: Task submission timestamp.
        finish_time:
          type: integer
          format: int64
          description: Task completion timestamp.
        error_message:
          type: string
          description: Error message returned when the task fails.

    KlingO3TaskStatus:
      type: string
      description: Asynchronous task status.
      enum:
        - Pending
        - Running
        - Success
        - Failure

    KlingO3Usage:
      type: object
      additionalProperties: false
      properties:
        duration:
          type: integer
          description: Generated video duration in seconds.

    KlingO3ErrorResponse:
      type: object
      additionalProperties: true
      required:
        - error
      properties:
        error:
          $ref: "#/components/schemas/KlingO3ErrorObject"
        request_id:
          type: string
          description: Unique request identifier, if available.

    KlingO3ErrorObject:
      type: object
      additionalProperties: true
      required:
        - message
        - type
      properties:
        message:
          type: string
          description: Error message.
        type:
          type: string
          description: Error type.
          examples:
            - invalid_request_error
        code:
          type: string
          description: |
            Error code. The source document lists `006001094` for insufficient
            task resources, `006001095` for task response errors, and
            `006001099` for task creation errors.
          enum:
            - "006001094"
            - "006001095"
            - "006001099"
        param:
          type:
            - string
            - "null"
          description: Related request parameter, if any.

  examples:
    KlingO3TaskCreationError:
      summary: Documented task creation error
      value:
        error:
          message: Task creation error
          type: invalid_request_error
          code: "006001099"
          param: null
        request_id: request_id
    KlingO3ParamError:
      summary: Invalid parameter error
      value:
        error:
          message: Invalid param
          type: invalid_request_error
          code: param_error
          param: parameters.aspect_ratio
        request_id: request_id
    KlingO3AuthError:
      summary: Bearer authentication error
      value:
        error:
          message: Validate Certification failed
          type: invalid_request_error
          code: auth_error
          param: null
        request_id: request_id
