openapi: 3.1.0
x-language: en-US
info:
  title: ModelVerse Kling/v3 Video Task API
  version: "1.0.0"
  description: |
    Self-contained OpenAPI 3.1 schema for the ModelVerse `kling-v3`
    asynchronous video generation task API.

    Kling v3 supports text-to-video, image-to-video, and motion-control
    generation through the same model ID. The generation mode can be selected
    explicitly with `parameters.kling_v3_type`, or inferred by the service from
    image and video inputs as documented in the source model guide.


servers:
  - url: https://api.modelverse.cn
    description: ModelVerse API endpoint documented for this model.

tags:
  - name: Kling/v3
    description: Asynchronous video task operations for Kling/v3.

security:
  - bearerAuth: []

paths:
  /v1/tasks/submit:
    post:
      tags:
        - Kling/v3
      operationId: submitKlingV3Task
      summary: Submit a Kling/v3 video task
      description: |
        Submit an asynchronous `kling-v3` video generation task. Use
        `parameters.kling_v3_type` to explicitly select `t2v`, `i2v`, or
        `motion_control`; otherwise the service infers the mode from the
        presence of `input.video_url` and first-frame image fields.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/KlingV3TaskSubmitRequest"
            examples:
              textToVideo:
                summary: Text-to-video request
                value:
                  model: kling-v3
                  input:
                    prompt: A beautiful sunset over the ocean with waves gently crashing
                  parameters:
                    kling_v3_type: t2v
                    mode: pro
                    aspect_ratio: "16:9"
                    duration: 5
                    sound: "on"
              imageToVideo:
                summary: Image-to-video request with a first-frame image
                value:
                  model: kling-v3
                  input:
                    prompt: The image comes to life with gentle movement
                  parameters:
                    kling_v3_type: i2v
                    mode: pro
                    duration: 5
                    image: https://example.com/first_frame.jpg
              firstAndTailFrames:
                summary: Image-to-video request with first and tail frames
                value:
                  model: kling-v3
                  input:
                    prompt: A girl walking through a garden
                  parameters:
                    kling_v3_type: i2v
                    mode: pro
                    duration: 5
                    image: https://example.com/first_frame.jpg
                    image_tail: https://example.com/last_frame.jpg
              multiShotTextToVideo:
                summary: Multi-shot text-to-video request
                value:
                  model: kling-v3
                  parameters:
                    kling_v3_type: t2v
                    mode: pro
                    aspect_ratio: "16:9"
                    duration: 5
                    multi_shot: true
                    shot_type: customize
                    multi_prompt:
                      - index: 1
                        prompt: A person walking through a misty forest at dawn
                        duration: "2"
                      - index: 2
                        prompt: A car speeding down a rainy street, headlights glowing
                        duration: "3"
                    sound: "on"
              motionControl:
                summary: Motion-control request with reference image and video
                value:
                  model: kling-v3
                  input:
                    img_url: https://example.com/character.jpg
                    video_url: https://example.com/motion_reference.mp4
                    prompt: A person dancing gracefully
                  parameters:
                    kling_v3_type: motion_control
                    duration: 5
                    aspect_ratio: "16:9"
                    character_orientation: image
                    mode: std
      responses:
        "200":
          description: Task submitted successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/KlingV3TaskSubmitResponse"
              examples:
                submitted:
                  summary: Submitted task
                  value:
                    output:
                      task_id: task_id
                    request_id: request_id
        "400":
          description: Invalid request parameters or task creation error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/KlingV3ErrorResponse"
              examples:
                taskCreationError:
                  $ref: "#/components/examples/KlingV3TaskCreationError"
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/KlingV3ErrorResponse"
              examples:
                error:
                  $ref: "#/components/examples/KlingV3TaskCreationError"

  /v1/tasks/status:
    get:
      tags:
        - Kling/v3
      operationId: getKlingV3TaskStatus
      summary: Query a Kling/v3 task status
      description: |
        Query the status, result URLs, and usage details for an asynchronous
        `kling-v3` task. The documented `parameters.external_task_id` can also
        be used by clients as the lookup identifier when it was supplied at
        submit time.
      parameters:
        - name: task_id
          in: query
          required: true
          description: Asynchronous task identifier returned by `/v1/tasks/submit`.
          schema:
            type: string
          examples:
            documented:
              summary: Source documentation placeholder
              value: task_id
      responses:
        "200":
          description: Task status response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/KlingV3TaskStatusResponse"
              examples:
                success:
                  summary: Successful task
                  value:
                    output:
                      task_id: task_id
                      task_status: Success
                      urls:
                        - https://xxxxx/xxxx.mp4
                      submit_time: 1756959000
                      finish_time: 1756959050
                    usage:
                      duration: 5
                    request_id: ""
                failure:
                  summary: Failed task
                  value:
                    output:
                      task_id: task_id
                      task_status: Failure
                      submit_time: 1756959000
                      finish_time: 1756959019
                      error_message: error_message
                    usage:
                      duration: 5
                    request_id: ""
        "400":
          description: Invalid task identifier or task status error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/KlingV3ErrorResponse"
              examples:
                taskResponseError:
                  $ref: "#/components/examples/KlingV3TaskResponseError"
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/KlingV3ErrorResponse"
              examples:
                error:
                  $ref: "#/components/examples/KlingV3TaskResponseError"

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API key
      description: "ModelVerse API key sent as `Authorization: Bearer <YOUR_API_KEY>`."

  schemas:
    KlingV3TaskSubmitRequest:
      type: object
      additionalProperties: false
      required:
        - model
      properties:
        model:
          type: string
          const: kling-v3
          description: Model name. This schema is pinned to `kling-v3`.
        input:
          $ref: "#/components/schemas/KlingV3Input"
        parameters:
          $ref: "#/components/schemas/KlingV3Parameters"

    KlingV3Input:
      type: object
      additionalProperties: false
      properties:
        prompt:
          type: string
          maxLength: 2500
          description: |
            Prompt used to guide video generation. Required for `t2v` and `i2v`
            when `parameters.multi_shot` is `false`; optional for
            `motion_control`.
          examples:
            - A beautiful sunset over the ocean with waves gently crashing
        negative_prompt:
          type: string
          maxLength: 2500
          description: Negative prompt used to limit undesired content.
        img_url:
          type: string
          minLength: 1
          description: |
            Reference image URL or raw Base64 image. In `motion_control` mode,
            this field is required together with `input.video_url`. When used
            without `input.video_url`, the source document lists it as a
            first-frame signal for implicit `i2v` routing.
          examples:
            - https://example.com/character.jpg
        video_url:
          type: string
          format: uri
          description: |
            Reference video URL for `motion_control` mode. MP4 and MOV are
            supported. The referenced file must be no larger than 100 MB, with
            width and height between 340 px and 3850 px. The video must be at
            least 3 seconds long; landscape videos can be up to 30 seconds and
            portrait videos can be up to 10 seconds.
          examples:
            - https://example.com/motion_reference.mp4
        first_frame_url:
          type: string
          format: uri
          description: |
            First-frame image URL. The source document lists this field as a
            first-frame signal for implicit `i2v` routing.
        images:
          type: array
          description: |
            First-frame image inputs. The source document lists this field as a
            first-frame signal for implicit `i2v` routing.
          items:
            type: string
            minLength: 1

    KlingV3Parameters:
      type: object
      additionalProperties: false
      properties:
        kling_v3_type:
          type: string
          description: |
            Explicit generation mode. If omitted, the service infers
            `motion_control` when `input.video_url` is present, `i2v` when any
            first-frame image field is present, and `t2v` otherwise.
          enum:
            - t2v
            - i2v
            - motion_control
        mode:
          type: string
          description: Generation quality mode. `std` is 720P and `pro` is 1080P.
          enum:
            - std
            - pro
          default: std
        aspect_ratio:
          type: string
          description: |
            Generated video aspect ratio. Ignored in `i2v` mode, where the
            input image aspect ratio is used.
          enum:
            - "16:9"
            - "9:16"
            - "1:1"
          default: "16:9"
        duration:
          type: integer
          minimum: 3
          maximum: 15
          default: 5
          description: |
            Generated video duration in seconds. `t2v` and `i2v` support values
            from 3 to 15. `motion_control` supports 5 or 10.
        watermark_enabled:
          type: boolean
          description: Whether to generate the result with a watermark.
        external_task_id:
          type: string
          description: |
            Client-provided task ID. It does not overwrite the service-generated
            task ID, but can be used to query the task. It must be unique per
            user.
        image:
          type: string
          minLength: 1
          description: |
            First-frame reference image for `i2v` mode. Supports a public image
            URL or raw Base64-encoded image string. When using Base64, do not
            include a `data:image/...;base64,` prefix. Supported formats are
            JPG, JPEG, and PNG. The file must be no larger than 10 MB, width and
            height must each be at least 300 px, and the aspect ratio must be
            between 1:2.5 and 2.5:1.
          examples:
            - https://example.com/first_frame.jpg
        image_tail:
          type: string
          minLength: 1
          description: |
            Tail-frame reference image for first-and-last-frame control. Must be
            used together with `parameters.image` and follows the same URL,
            Base64, format, size, dimension, and aspect-ratio requirements.
          examples:
            - https://example.com/last_frame.jpg
        sound:
          type: string
          description: Whether to generate sound for `t2v` or `i2v` output.
          enum:
            - "on"
            - "off"
          default: "off"
        multi_shot:
          type: boolean
          default: false
          description: |
            Whether to enable multi-shot mode. When `true`, `input.prompt` is
            ignored. When `false`, `parameters.shot_type` and
            `parameters.multi_prompt` are ignored.
        shot_type:
          type: string
          description: Multi-shot type. Required when `multi_shot` is `true`.
          enum:
            - customize
        multi_prompt:
          type: array
          minItems: 1
          maxItems: 6
          description: |
            Custom multi-shot prompt list. Required when `multi_shot` is `true`
            and `shot_type` is `customize`. Each shot duration must be at least
            1 second and no greater than the total video duration; the sum of
            all shot durations must equal the total duration.
          items:
            $ref: "#/components/schemas/KlingV3MultiPromptItem"
        character_orientation:
          type: string
          description: |
            Character facing direction for `motion_control` mode. Required in
            `motion_control`.
          enum:
            - image
            - video
        keep_original_sound:
          type: string
          description: Whether to keep the original audio from the reference video.
          enum:
            - "yes"
            - "no"
          default: "yes"
      dependentRequired:
        image_tail:
          - image

    KlingV3MultiPromptItem:
      type: object
      additionalProperties: false
      required:
        - index
        - prompt
        - duration
      properties:
        index:
          type: integer
          minimum: 1
          description: Shot index, starting from 1.
        prompt:
          type: string
          minLength: 1
          maxLength: 512
          description: Prompt for this shot.
        duration:
          type: string
          minLength: 1
          description: Shot duration in seconds, represented as a string.

    KlingV3TaskSubmitResponse:
      type: object
      additionalProperties: false
      required:
        - output
        - request_id
      properties:
        output:
          $ref: "#/components/schemas/KlingV3TaskSubmitOutput"
        request_id:
          type: string
          description: Unique request identifier.

    KlingV3TaskSubmitOutput:
      type: object
      additionalProperties: false
      required:
        - task_id
      properties:
        task_id:
          type: string
          description: Unique identifier of the asynchronous task.

    KlingV3TaskStatusResponse:
      type: object
      additionalProperties: false
      required:
        - output
        - request_id
      properties:
        output:
          $ref: "#/components/schemas/KlingV3TaskStatusOutput"
        usage:
          $ref: "#/components/schemas/KlingV3Usage"
        request_id:
          type: string
          description: Unique request identifier.

    KlingV3TaskStatusOutput:
      type: object
      additionalProperties: false
      required:
        - task_id
        - task_status
      properties:
        task_id:
          type: string
          description: Unique identifier of the asynchronous task.
        task_status:
          $ref: "#/components/schemas/KlingV3TaskStatus"
        urls:
          type: array
          description: Video result URL list.
          items:
            type: string
            format: uri
        submit_time:
          type: integer
          format: int64
          description: Task submission Unix timestamp in seconds.
        finish_time:
          type: integer
          format: int64
          description: Task completion Unix timestamp in seconds.
        error_message:
          type: string
          description: Error message returned when the task fails.

    KlingV3TaskStatus:
      type: string
      description: Current asynchronous task status.
      enum:
        - Pending
        - Running
        - Success
        - Failure

    KlingV3Usage:
      type: object
      additionalProperties: false
      properties:
        duration:
          type: integer
          description: Generated video duration in seconds.

    KlingV3ErrorResponse:
      type: object
      additionalProperties: true
      required:
        - error
      properties:
        error:
          $ref: "#/components/schemas/KlingV3ErrorObject"
        request_id:
          type: string
          description: Unique request identifier, if available.

    KlingV3ErrorObject:
      type: object
      additionalProperties: true
      required:
        - message
        - type
      properties:
        message:
          type: string
          description: Error message.
        type:
          type: string
          description: Error type.
          examples:
            - invalid_request_error
        code:
          type:
            - string
            - "null"
          description: |
            Error code. The source model document lists `006001094` for task
            resource shortage, `006001095` for task response error, and
            `006001099` for task creation error.
          examples:
            - "006001099"
        param:
          type:
            - string
            - "null"
          description: Related request parameter, if any.

  examples:
    KlingV3TaskCreationError:
      summary: Task creation error
      value:
        error:
          message: Task creation error
          type: invalid_request_error
          code: "006001099"
          param: null
        request_id: request_id
    KlingV3TaskResponseError:
      summary: Task response error
      value:
        error:
          message: Task response error
          type: invalid_request_error
          code: "006001095"
          param: null
        request_id: request_id
