openapi: 3.1.0
x-language: en-US
info:
  title: ModelVerse OpenAI Sora2 Image-to-Video API
  version: "1.0.0"
  description: |
    OpenAPI specification for the ModelVerse OpenAI/Sora2 image-to-video
    asynchronous task API. This document covers only the
    `openai/sora-2/image-to-video` model.

servers:
  - url: https://api.modelverse.cn
    description: ModelVerse API endpoint from the source documentation.

tags:
  - name: OpenAI Sora2 I2V
    description: OpenAI/Sora2 image-to-video asynchronous task APIs.

paths:
  /v1/tasks/submit:
    post:
      tags:
        - OpenAI Sora2 I2V
      operationId: submitOpenAISora2I2VTask
      summary: Submit an OpenAI Sora2 image-to-video task
      description: |
        Submits an asynchronous image-to-video generation task for the
        `openai/sora-2/image-to-video` model.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/OpenAISora2I2VSubmitRequest"
            examples:
              imageToVideo:
                summary: Generate a video from a first-frame image
                value:
                  model: openai/sora-2/image-to-video
                  input:
                    first_frame_url: https://test2-im.cn-bj.ufileos.com/image/Adobe%20Express%20-%20file.png
                    prompt: The image is coming to life
                  parameters:
                    size: 720x1280
                    duration: 4
      responses:
        "200":
          description: Task submitted successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OpenAISora2I2VSubmitResponse"
              examples:
                submitted:
                  summary: Submitted task
                  value:
                    output:
                      task_id: task_id
                    request_id: request_id
        "400":
          description: Invalid request parameters.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                paramError:
                  $ref: "#/components/examples/ParamError"
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                error:
                  $ref: "#/components/examples/ParamError"

  /v1/tasks/status:
    get:
      tags:
        - OpenAI Sora2 I2V
      operationId: getOpenAISora2I2VTaskStatus
      summary: Query an OpenAI Sora2 image-to-video task
      description: Queries the status and result URLs for an asynchronous task.
      security:
        - bearerAuth: []
      parameters:
        - name: task_id
          in: query
          required: true
          description: Asynchronous task identifier returned by `/v1/tasks/submit`.
          schema:
            type: string
          examples:
            placeholder:
              summary: Source documentation placeholder
              value: task_id
      responses:
        "200":
          description: Task status response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OpenAISora2I2VStatusResponse"
              examples:
                success:
                  summary: Successful task
                  value:
                    output:
                      task_id: task_id
                      task_status: Success
                      urls:
                        - https://xxxxx/xxxx.mp4
                      submit_time: 1756959000
                      finish_time: 1756959050
                    usage:
                      duration: 4
                    request_id: ""
                failure:
                  summary: Failed task
                  value:
                    output:
                      task_id: task_id
                      task_status: Failure
                      submit_time: 1756959000
                      finish_time: 1756959019
                      error_message: error_message
                    usage:
                      duration: 5
                    request_id: ""
        "400":
          description: Invalid request parameters.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                paramError:
                  $ref: "#/components/examples/ParamError"
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                error:
                  $ref: "#/components/examples/ParamError"

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API key

  schemas:
    OpenAISora2I2VSubmitRequest:
      type: object
      additionalProperties: false
      required:
        - model
        - input
      properties:
        model:
          type: string
          const: openai/sora-2/image-to-video
          description: Model name. Pinned to this OpenAI/Sora2 image-to-video model.
        input:
          $ref: "#/components/schemas/OpenAISora2I2VInput"
        parameters:
          $ref: "#/components/schemas/OpenAISora2I2VParameters"

    OpenAISora2I2VInput:
      type: object
      additionalProperties: false
      required:
        - first_frame_url
      properties:
        first_frame_url:
          type: string
          description: Video first-frame image. The source documentation allows either a URL or Base64 value.
          examples:
            - https://test2-im.cn-bj.ufileos.com/image/Adobe%20Express%20-%20file.png
        prompt:
          type: string
          description: Prompt used to guide video generation.
          examples:
            - The image is coming to life

    OpenAISora2I2VParameters:
      type: object
      additionalProperties: true
      properties:
        duration:
          type: integer
          enum:
            - 4
            - 8
            - 12
          default: 4
          description: Video generation duration in seconds.
        size:
          type: string
          description: Video size. The source request example uses `720x1280`.
          examples:
            - 720x1280

    OpenAISora2I2VSubmitResponse:
      type: object
      additionalProperties: true
      required:
        - output
        - request_id
      properties:
        output:
          type: object
          additionalProperties: true
          required:
            - task_id
          properties:
            task_id:
              type: string
              description: Unique identifier of the asynchronous task.
        request_id:
          type: string
          description: Unique request identifier.

    OpenAISora2I2VStatusResponse:
      type: object
      additionalProperties: true
      required:
        - output
        - request_id
      properties:
        output:
          $ref: "#/components/schemas/OpenAISora2I2VStatusOutput"
        usage:
          $ref: "#/components/schemas/OpenAISora2I2VUsage"
        request_id:
          type: string
          description: Unique request identifier.

    OpenAISora2I2VStatusOutput:
      type: object
      additionalProperties: true
      required:
        - task_id
        - task_status
      properties:
        task_id:
          type: string
          description: Unique identifier of the asynchronous task.
        task_status:
          $ref: "#/components/schemas/OpenAISora2I2VTaskStatus"
        urls:
          type: array
          description: Generated video result URLs.
          items:
            type: string
            format: uri
        submit_time:
          type: integer
          format: int64
          description: Task submission timestamp.
        finish_time:
          type: integer
          format: int64
          description: Task completion timestamp.
        error_message:
          type: string
          description: Error message returned when the task fails.

    OpenAISora2I2VTaskStatus:
      type: string
      enum:
        - Pending
        - Running
        - Success
        - Failure
      description: Asynchronous task status.

    OpenAISora2I2VUsage:
      type: object
      additionalProperties: true
      properties:
        duration:
          type: integer
          description: Task execution duration in seconds.

    ErrorResponse:
      type: object
      additionalProperties: true
      required:
        - error
      properties:
        error:
          $ref: "#/components/schemas/ErrorObject"

    ErrorObject:
      type: object
      additionalProperties: true
      required:
        - message
        - type
      properties:
        message:
          type: string
        type:
          type: string
          examples:
            - invalid_request_error
        code:
          type:
            - string
            - "null"
          examples:
            - param_error
        param:
          type:
            - string
            - "null"

  examples:
    ParamError:
      summary: Invalid parameter error
      value:
        error:
          message: Invalid param
          type: invalid_request_error
          code: param_error
          param: task_id
