openapi: 3.1.0
x-language: en-US
info:
  title: ModelVerse Pixverse v6 Video Task API
  version: "1.0.0"
  description: |
    Self-contained OpenAPI 3.1 schema for the ModelVerse Pixverse v6
    asynchronous video generation task API documented in

servers:
  - url: https://api.modelverse.cn
    description: ModelVerse API endpoint documented for this model.

tags:
  - name: Pixverse v6
    description: Pixverse v6 asynchronous video generation operations.

paths:
  /v1/tasks/submit:
    post:
      tags:
        - Pixverse v6
      operationId: submitPixverseV6Task
      summary: Submit a Pixverse v6 video task
      description: |
        Submit an asynchronous Pixverse v6 video generation task. The source
        document includes text-to-video, first/last-frame-to-video,
        reference-image-to-video, and video-extension request modes.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PixverseV6SubmitRequest"
            examples:
              textToVideo:
                summary: Source text-to-video request
                value:
                  model: pixverse-v6
                  input:
                    prompt: Convert to quick pencil sketch
                  parameters:
                    resolution: 720p
                    aspect_ratio: "16:9"
                    duration: 5
              firstLastFrameToVideo:
                summary: Source first/last-frame-to-video request
                value:
                  model: pixverse-v6
                  input:
                    first_frame_url: https://umodelverse-inference.cn-wlcb.ufileos.com/ucloud-maxcot.jpg
                    last_frame_url: https://umodelverse-inference.cn-wlcb.ufileos.com/ucloud-maxcot.jpg
                    prompt: Convert to quick pencil sketch
                  parameters:
                    resolution: 720p
                    duration: 5
              referenceImageToVideo:
                summary: Source reference-image-to-video request
                value:
                  model: pixverse-v6
                  input:
                    img_url: https://umodelverse-inference.cn-wlcb.ufileos.com/ucloud-maxcot.jpg
                    prompt: Convert to quick pencil sketch
                  parameters:
                    resolution: 720p
                    duration: 5
              videoExtend:
                summary: Source video-extension request
                value:
                  model: pixverse-v6
                  input:
                    video_url: https://umodelverse-inference.cn-wlcb.ufileos.com/maxcot-dance.mp4
                    prompt: Convert to quick pencil sketch
                  parameters:
                    resolution: 720p
                    duration: 5
      responses:
        "200":
          description: Task submitted successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PixverseV6SubmitResponse"
              examples:
                submitted:
                  summary: Submitted task
                  value:
                    output:
                      task_id: task_id
                    request_id: request_id
        "400":
          description: Invalid request parameters.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PixverseV6ErrorResponse"
              examples:
                paramError:
                  $ref: "#/components/examples/PixverseV6ParamError"
        "401":
          description: Invalid or missing bearer token.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PixverseV6ErrorResponse"
              examples:
                authError:
                  $ref: "#/components/examples/PixverseV6AuthError"
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PixverseV6ErrorResponse"
              examples:
                error:
                  $ref: "#/components/examples/PixverseV6ParamError"

  /v1/tasks/status:
    get:
      tags:
        - Pixverse v6
      operationId: getPixverseV6TaskStatus
      summary: Query a Pixverse v6 task status
      description: Query the status and result URLs for an asynchronous Pixverse v6 task.
      security:
        - bearerAuth: []
      parameters:
        - name: task_id
          in: query
          required: true
          description: Asynchronous task identifier returned by `/v1/tasks/submit`.
          schema:
            type: string
          examples:
            documented:
              summary: Source documentation placeholder
              value: task_id
      responses:
        "200":
          description: Task status response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PixverseV6StatusResponse"
              examples:
                success:
                  summary: Successful task
                  value:
                    output:
                      task_id: task_id
                      task_status: Success
                      urls:
                        - https://xxxxx/xxxx.mp4
                      submit_time: 1756959000
                      finish_time: 1756959050
                    usage:
                      duration: 5
                    request_id: ""
                failure:
                  summary: Failed task
                  value:
                    output:
                      task_id: task_id
                      task_status: Failure
                      submit_time: 1756959000
                      finish_time: 1756959019
                      error_message: error_message
                    usage:
                      duration: 5
                    request_id: ""
        "400":
          description: Invalid task identifier or request parameters.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PixverseV6ErrorResponse"
              examples:
                paramError:
                  $ref: "#/components/examples/PixverseV6ParamError"
        "401":
          description: Invalid or missing bearer token.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PixverseV6ErrorResponse"
              examples:
                authError:
                  $ref: "#/components/examples/PixverseV6AuthError"
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PixverseV6ErrorResponse"
              examples:
                error:
                  $ref: "#/components/examples/PixverseV6ParamError"

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API key
      description: "ModelVerse API key sent in the `Authorization: Bearer <API_KEY>` header."

  schemas:
    PixverseV6SubmitRequest:
      type: object
      additionalProperties: false
      required:
        - model
        - input
      properties:
        model:
          type: string
          const: pixverse-v6
          description: Model name. This schema is pinned to `pixverse-v6`.
        input:
          $ref: "#/components/schemas/PixverseV6Input"
        parameters:
          $ref: "#/components/schemas/PixverseV6Parameters"

    PixverseV6Input:
      type: object
      additionalProperties: false
      required:
        - prompt
      dependentRequired:
        first_frame_url:
          - last_frame_url
        last_frame_url:
          - first_frame_url
      properties:
        first_frame_url:
          type: string
          description: |
            First-frame image as a URL or Base64 value. Required together with
            `last_frame_url` for the documented first/last-frame-to-video mode.
          examples:
            - https://umodelverse-inference.cn-wlcb.ufileos.com/ucloud-maxcot.jpg
        last_frame_url:
          type: string
          description: |
            Last-frame image as a URL or Base64 value. Required together with
            `first_frame_url` for the documented first/last-frame-to-video mode.
          examples:
            - https://umodelverse-inference.cn-wlcb.ufileos.com/ucloud-maxcot.jpg
        img_url:
          type: string
          description: |
            Reference image as a URL or Base64 value. Required for the
            documented reference-image-to-video mode.
          examples:
            - https://umodelverse-inference.cn-wlcb.ufileos.com/ucloud-maxcot.jpg
        video_url:
          type: string
          format: uri
          description: Reference video URL. Required for the documented video-extension mode.
          examples:
            - https://umodelverse-inference.cn-wlcb.ufileos.com/maxcot-dance.mp4
        prompt:
          type: string
          minLength: 1
          description: Prompt used to guide video generation.
          examples:
            - Convert to quick pencil sketch

    PixverseV6Parameters:
      type: object
      additionalProperties: false
      properties:
        resolution:
          type: string
          description: Generated video resolution tier.
          enum:
            - 1080p
            - 720p
            - 540p
            - 360p
        aspect_ratio:
          type: string
          description: |
            Generated video aspect ratio. The source document says this is only
            effective for text-only generation without a reference image or video.
          enum:
            - "16:9"
            - "4:3"
            - "1:1"
            - "3:4"
            - "9:16"
            - "2:3"
            - "3:2"
            - "21:9"
        duration:
          type: integer
          minimum: 1
          maximum: 15
          description: Generated video duration in seconds.
        generate_audio:
          type: integer
          description: Documented integer flag controlling whether the generated video includes audio.
        seed:
          type: integer
          minimum: 0
          maximum: 2147483647
          description: Random seed.

    PixverseV6SubmitResponse:
      type: object
      additionalProperties: false
      required:
        - output
        - request_id
      properties:
        output:
          $ref: "#/components/schemas/PixverseV6SubmitOutput"
        request_id:
          type: string
          description: Unique request identifier.

    PixverseV6SubmitOutput:
      type: object
      additionalProperties: false
      required:
        - task_id
      properties:
        task_id:
          type: string
          description: Unique identifier of the asynchronous task.

    PixverseV6StatusResponse:
      type: object
      additionalProperties: false
      required:
        - output
        - request_id
      properties:
        output:
          $ref: "#/components/schemas/PixverseV6StatusOutput"
        usage:
          $ref: "#/components/schemas/PixverseV6Usage"
        request_id:
          type: string
          description: Unique request identifier.

    PixverseV6StatusOutput:
      type: object
      additionalProperties: false
      required:
        - task_id
        - task_status
      properties:
        task_id:
          type: string
          description: Unique identifier of the asynchronous task.
        task_status:
          $ref: "#/components/schemas/PixverseV6TaskStatus"
        urls:
          type: array
          description: Video result URL list.
          items:
            type: string
            format: uri
        submit_time:
          type: integer
          format: int64
          description: Task submission timestamp.
        finish_time:
          type: integer
          format: int64
          description: Task completion timestamp.
        error_message:
          type: string
          description: Error message returned when the task fails.

    PixverseV6TaskStatus:
      type: string
      description: Asynchronous task status.
      enum:
        - Pending
        - Running
        - Success
        - Failure

    PixverseV6Usage:
      type: object
      additionalProperties: false
      properties:
        duration:
          type: integer
          description: Task execution duration in seconds.

    PixverseV6ErrorResponse:
      type: object
      additionalProperties: true
      required:
        - error
      properties:
        error:
          $ref: "#/components/schemas/PixverseV6ErrorObject"
        request_id:
          type: string
          description: Unique request identifier, if available.

    PixverseV6ErrorObject:
      type: object
      additionalProperties: true
      required:
        - message
        - type
      properties:
        message:
          type: string
          description: Error message.
        type:
          type: string
          description: Error type.
          examples:
            - invalid_request_error
        code:
          type:
            - string
            - "null"
          description: Error code.
          examples:
            - param_error
        param:
          type:
            - string
            - "null"
          description: Request parameter related to the error.

  examples:
    PixverseV6ParamError:
      summary: Invalid parameter error
      value:
        error:
          message: Invalid param
          type: invalid_request_error
          code: param_error
          param: parameters.duration
        request_id: request_id
    PixverseV6AuthError:
      summary: Invalid bearer token error
      value:
        error:
          message: Validate Certification failed
          type: invalid_request_error
          code: auth_error
          param: null
        request_id: request_id
