openapi: 3.1.0
x-language: en-US
info:
  title: ModelVerse Vidu StartEnd2Video Video Task API
  version: "1.0.0"
  description: |
    Self-contained OpenAPI 3.1 schema for the ModelVerse Vidu start/end
    frame-to-video asynchronous task API documented in

servers:
  - url: https://api.modelverse.cn
    description: ModelVerse API endpoint documented for this model.

tags:
  - name: Vidu StartEnd2Video
    description: Vidu start/end frame-to-video asynchronous task operations.

paths:
  /v1/tasks/submit:
    post:
      tags:
        - Vidu StartEnd2Video
      operationId: submitViduStartEnd2VideoTask
      summary: Submit a Vidu start/end frame-to-video task
      description: Submit an asynchronous video generation task from first and last frame images.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ViduStartEnd2VideoSubmitRequest"
            examples:
              documented:
                summary: Source start/end frame-to-video request
                value:
                  model: viduq2-pro
                  input:
                    first_frame_url: https://umodelverse-inference.cn-wlcb.ufileos.com/ucloud-maxcot.jpg
                    last_frame_url: https://umodelverse-inference.cn-wlcb.ufileos.com/ucloud-maxcot.jpg
                    prompt: Continue the video with smooth camera movement.
                  parameters:
                    vidu_type: start-end2video
                    duration: 5
                    resolution: 1080p
                    movement_amplitude: auto
                    bgm: true
              base64Frames:
                summary: Submit with Base64-encoded first and last frames
                value:
                  model: viduq2-turbo
                  input:
                    first_frame_url: data:image/png;base64,{base64_encode}
                    last_frame_url: data:image/png;base64,{base64_encode}
                    prompt: A smooth transition from the first frame to the final frame with gentle camera motion.
                  parameters:
                    vidu_type: start-end2video
                    duration: 8
                    seed: 12345
                    resolution: 720p
                    movement_amplitude: medium
                    bgm: false
      responses:
        "200":
          description: Task submitted successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ViduStartEnd2VideoSubmitResponse"
              examples:
                submitted:
                  summary: Submitted task
                  value:
                    output:
                      task_id: task_id
                    request_id: request_id
        "400":
          description: Invalid request parameters.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ViduStartEnd2VideoErrorResponse"
              examples:
                paramError:
                  $ref: "#/components/examples/ViduStartEnd2VideoParamError"
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ViduStartEnd2VideoErrorResponse"
              examples:
                error:
                  $ref: "#/components/examples/ViduStartEnd2VideoParamError"

  /v1/tasks/status:
    get:
      tags:
        - Vidu StartEnd2Video
      operationId: getViduStartEnd2VideoTaskStatus
      summary: Query a Vidu start/end frame-to-video task status
      description: Query the status and result URLs for an asynchronous task.
      security:
        - bearerAuth: []
      parameters:
        - name: task_id
          in: query
          required: true
          description: Asynchronous task identifier returned by `/v1/tasks/submit`.
          schema:
            type: string
          examples:
            placeholder:
              summary: Source documentation placeholder
              value: task_id
      responses:
        "200":
          description: Task status response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ViduStartEnd2VideoStatusResponse"
              examples:
                success:
                  summary: Successful task
                  value:
                    output:
                      task_id: task_id
                      task_status: Success
                      urls:
                        - https://xxxxx/xxxx.mp4
                      submit_time: 1756959000
                      finish_time: 1756959050
                    usage:
                      duration: 5
                    request_id: ""
                failure:
                  summary: Failed task
                  value:
                    output:
                      task_id: task_id
                      task_status: Failure
                      submit_time: 1756959000
                      finish_time: 1756959019
                      error_message: error_message
                    usage:
                      duration: 5
                    request_id: ""
        "400":
          description: Invalid task identifier or request parameters.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ViduStartEnd2VideoErrorResponse"
              examples:
                paramError:
                  $ref: "#/components/examples/ViduStartEnd2VideoParamError"
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ViduStartEnd2VideoErrorResponse"
              examples:
                error:
                  $ref: "#/components/examples/ViduStartEnd2VideoParamError"

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API key
      description: "ModelVerse API key sent in the `Authorization: Bearer <API_KEY>` header."

  schemas:
    ViduStartEnd2VideoSubmitRequest:
      type: object
      additionalProperties: false
      required:
        - model
        - input
        - parameters
      properties:
        model:
          type: string
          description: |
            Vidu start/end frame-to-video model name. This schema is pinned to
            the `Vidu-StartEnd2Video` source document and only allows its
            documented model values.
          enum:
            - viduq2-pro
            - viduq2-turbo
            - viduq2-pro-fast
            - viduq3-pro
        input:
          $ref: "#/components/schemas/ViduStartEnd2VideoInput"
        parameters:
          $ref: "#/components/schemas/ViduStartEnd2VideoParameters"

    ViduStartEnd2VideoInput:
      type: object
      additionalProperties: false
      required:
        - first_frame_url
        - last_frame_url
      properties:
        first_frame_url:
          type: string
          description: |
            First-frame image as a URL or Base64-encoded image. Supported image
            formats are png, jpeg, jpg, and webp. The image must not exceed
            50 MB, must satisfy the documented 1:4 / 4:1 aspect-ratio limit,
            and should have a resolution close to `last_frame_url`.
          examples:
            - https://umodelverse-inference.cn-wlcb.ufileos.com/ucloud-maxcot.jpg
            - data:image/png;base64,{base64_encode}
        last_frame_url:
          type: string
          description: |
            Last-frame image as a URL or Base64-encoded image. Supported image
            formats are png, jpeg, jpg, and webp. The first-frame resolution to
            last-frame resolution ratio must be between 0.8 and 1.25, and the
            image must not exceed 50 MB.
          examples:
            - https://umodelverse-inference.cn-wlcb.ufileos.com/ucloud-maxcot.jpg
            - data:image/png;base64,{base64_encode}
        prompt:
          type: string
          maxLength: 2000
          description: Text prompt used to guide video generation.
          examples:
            - Continue the video with smooth camera movement.

    ViduStartEnd2VideoParameters:
      type: object
      additionalProperties: false
      required:
        - vidu_type
      properties:
        vidu_type:
          type: string
          const: start-end2video
          description: Vidu interface type for start/end frame-to-video generation.
        duration:
          type: integer
          minimum: 1
          maximum: 8
          default: 5
          x-model-constraints:
            viduq2-pro:
              default: 5
              enum:
                - 1
                - 2
                - 3
                - 4
                - 5
                - 6
                - 7
                - 8
            viduq2-turbo:
              default: 5
              enum:
                - 1
                - 2
                - 3
                - 4
                - 5
                - 6
                - 7
                - 8
            viduq2-pro-fast:
              default: 5
              enum:
                - 1
                - 2
                - 3
                - 4
                - 5
                - 6
                - 7
                - 8
          x-source-undocumented-for-models:
            - viduq3-pro
          description: |
            Video duration in seconds. `viduq2-pro`, `viduq2-turbo`, and
            `viduq2-pro-fast` default to 5 and support 1-8 seconds. The source
            document lists `viduq3-pro` as an allowed model but does not provide
            a separate duration range for it.
        seed:
          type: integer
          default: 0
          description: Random seed. The default value 0 uses a random seed.
        resolution:
          type: string
          default: 720p
          x-model-constraints:
            viduq2-pro:
              default: 720p
              enum:
                - 540p
                - 720p
                - 1080p
            viduq2-turbo:
              default: 720p
              enum:
                - 540p
                - 720p
                - 1080p
            viduq2-pro-fast:
              default: 720p
              enum:
                - 720p
                - 1080p
          x-source-undocumented-for-models:
            - viduq3-pro
          description: |
            Output resolution. `viduq2-pro` and `viduq2-turbo` support 540p,
            720p, and 1080p for 1-8 second videos. `viduq2-pro-fast` supports
            720p and 1080p for 1-8 second videos. The source document lists
            `viduq3-pro` as an allowed model but does not provide a separate
            resolution range for it.
          enum:
            - 540p
            - 720p
            - 1080p
        movement_amplitude:
          type: string
          default: auto
          description: Motion amplitude.
          enum:
            - auto
            - small
            - medium
            - large
        bgm:
          type: boolean
          default: false
          description: Whether to add background music.

    ViduStartEnd2VideoSubmitResponse:
      type: object
      additionalProperties: false
      required:
        - output
        - request_id
      properties:
        output:
          type: object
          additionalProperties: false
          required:
            - task_id
          properties:
            task_id:
              type: string
              description: Unique identifier of the asynchronous task.
        request_id:
          type: string
          description: Unique request identifier.

    ViduStartEnd2VideoStatusResponse:
      type: object
      additionalProperties: false
      required:
        - output
        - request_id
      properties:
        output:
          $ref: "#/components/schemas/ViduStartEnd2VideoStatusOutput"
        usage:
          $ref: "#/components/schemas/ViduStartEnd2VideoUsage"
        request_id:
          type: string
          description: Unique request identifier.

    ViduStartEnd2VideoStatusOutput:
      type: object
      additionalProperties: false
      required:
        - task_id
        - task_status
      properties:
        task_id:
          type: string
          description: Unique identifier of the asynchronous task.
        task_status:
          $ref: "#/components/schemas/ViduStartEnd2VideoTaskStatus"
        urls:
          type: array
          description: Video result URL list.
          items:
            type: string
            format: uri
        submit_time:
          type: integer
          format: int64
          description: Task submission timestamp.
        finish_time:
          type: integer
          format: int64
          description: Task completion timestamp.
        error_message:
          type: string
          description: Error message returned when the task fails.

    ViduStartEnd2VideoTaskStatus:
      type: string
      description: Task status.
      enum:
        - Pending
        - Running
        - Success
        - Failure

    ViduStartEnd2VideoUsage:
      type: object
      additionalProperties: false
      properties:
        duration:
          type: integer
          description: Video duration in seconds.

    ViduStartEnd2VideoErrorResponse:
      type: object
      additionalProperties: true
      required:
        - error
      properties:
        error:
          $ref: "#/components/schemas/ViduStartEnd2VideoErrorObject"
        request_id:
          type: string
          description: Unique request identifier, if available.

    ViduStartEnd2VideoErrorObject:
      type: object
      additionalProperties: true
      required:
        - message
        - type
      properties:
        message:
          type: string
          description: Error message.
        type:
          type: string
          description: Error type.
          examples:
            - invalid_request_error
        code:
          type:
            - string
            - "null"
          description: Error code.
          examples:
            - param_error
        param:
          type:
            - string
            - "null"
          description: Related request parameter, if any.

  examples:
    ViduStartEnd2VideoParamError:
      summary: Invalid parameter error
      value:
        error:
          message: Invalid param
          type: invalid_request_error
          code: param_error
          param: input.first_frame_url
        request_id: request_id
