openapi: 3.1.0
x-language: en-US
info:
  title: ModelVerse Vidu/Text2Video Video Task API
  version: "1.0.0"
  description: |
    Self-contained OpenAPI 3.1 schema for the ModelVerse Vidu/Text2Video
    asynchronous text-to-video task API.

servers:
  - url: https://api.modelverse.cn
    description: ModelVerse API endpoint documented for this model.

tags:
  - name: Vidu/Text2Video
    description: Text-to-video asynchronous task operations for Vidu/Text2Video.

paths:
  /v1/tasks/submit:
    post:
      tags:
        - Vidu/Text2Video
      operationId: submitViduText2VideoTask
      summary: Submit a Vidu/Text2Video text-to-video task
      description: Submit an asynchronous text-to-video generation task.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ViduText2VideoSubmitRequest"
            examples:
              documented:
                summary: Source text-to-video request
                value:
                  model: viduq2
                  input:
                    prompt: In an ultra-realistic fashion photography style featuring light blue and pale amber tones, an astronaut in a spacesuit walks through the fog. The background consists of enchanting white and golden lights, creating a minimalist still life and an impressive panoramic scene.
                  parameters:
                    vidu_type: text2video
                    duration: 5
                    aspect_ratio: "16:9"
                    resolution: 720p
                    bgm: true
              withOptionalControls:
                summary: Text-to-video request with optional controls
                value:
                  model: viduq2
                  input:
                    prompt: A cinematic wide shot of a glass greenhouse at sunrise, with mist rolling through tropical plants and warm light reflecting from rain on the floor.
                  parameters:
                    vidu_type: text2video
                    duration: 8
                    seed: 12345
                    aspect_ratio: "9:16"
                    resolution: 1080p
                    guidance_scale: 5.5
                    bgm: false
      responses:
        "200":
          description: Task submitted successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ViduText2VideoSubmitResponse"
              examples:
                submitted:
                  summary: Submitted task
                  value:
                    output:
                      task_id: task_id
                    request_id: request_id
        "400":
          description: Invalid request parameters.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ViduText2VideoErrorResponse"
              examples:
                paramError:
                  $ref: "#/components/examples/ViduText2VideoParamError"
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ViduText2VideoErrorResponse"
              examples:
                error:
                  $ref: "#/components/examples/ViduText2VideoParamError"

  /v1/tasks/status:
    get:
      tags:
        - Vidu/Text2Video
      operationId: getViduText2VideoTaskStatus
      summary: Query Vidu/Text2Video task status
      description: Query the status and result URLs for an asynchronous text-to-video task.
      security:
        - bearerAuth: []
      parameters:
        - name: task_id
          in: query
          required: true
          description: Asynchronous task identifier returned by `/v1/tasks/submit`.
          schema:
            type: string
          example: task_id
      responses:
        "200":
          description: Task status response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ViduText2VideoStatusResponse"
              examples:
                success:
                  summary: Successful task
                  value:
                    output:
                      task_id: task_id
                      task_status: Success
                      urls:
                        - https://xxxxx/xxxx.mp4
                      submit_time: 1756959000
                      finish_time: 1756959050
                    usage:
                      duration: 5
                    request_id: ""
                failure:
                  summary: Failed task
                  value:
                    output:
                      task_id: task_id
                      task_status: Failure
                      submit_time: 1756959000
                      finish_time: 1756959019
                      error_message: error_message
                    usage:
                      duration: 5
                    request_id: ""
        "400":
          description: Invalid task identifier or request parameters.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ViduText2VideoErrorResponse"
              examples:
                paramError:
                  $ref: "#/components/examples/ViduText2VideoParamError"
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ViduText2VideoErrorResponse"
              examples:
                error:
                  $ref: "#/components/examples/ViduText2VideoParamError"

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API key
      description: "ModelVerse API key sent as `Authorization: Bearer <MODELVERSE_API_KEY>`."

  schemas:
    ViduText2VideoSubmitRequest:
      type: object
      additionalProperties: false
      required:
        - model
        - input
        - parameters
      properties:
        model:
          type: string
          const: viduq2
          description: Model name. This schema is pinned to `viduq2`.
        input:
          $ref: "#/components/schemas/ViduText2VideoInput"
        parameters:
          $ref: "#/components/schemas/ViduText2VideoParameters"

    ViduText2VideoInput:
      type: object
      additionalProperties: false
      required:
        - prompt
      properties:
        prompt:
          type: string
          minLength: 1
          maxLength: 2000
          description: Text prompt describing the desired generated video.

    ViduText2VideoParameters:
      type: object
      additionalProperties: false
      required:
        - vidu_type
      properties:
        vidu_type:
          type: string
          const: text2video
          description: Vidu API type. This schema is pinned to `text2video`.
        duration:
          type: integer
          minimum: 1
          maximum: 10
          default: 5
          description: Generated video duration in seconds for `viduq2`.
        seed:
          type: integer
          default: 0
          description: Random seed. The default `0` means a random seed is used.
        aspect_ratio:
          type: string
          enum:
            - "16:9"
            - "9:16"
            - "3:4"
            - "4:3"
            - "1:1"
          default: "16:9"
          description: Generated video aspect ratio.
        resolution:
          type: string
          enum:
            - 540p
            - 720p
            - 1080p
          default: 720p
          description: Generated video resolution for `viduq2` durations from 1 to 10 seconds.
        guidance_scale:
          type: number
          format: double
          description: Guidance scale controlling relevance between the generated result and the prompt.
        bgm:
          type: boolean
          default: false
          description: Whether to add background music.

    ViduText2VideoSubmitResponse:
      type: object
      additionalProperties: false
      required:
        - output
        - request_id
      properties:
        output:
          $ref: "#/components/schemas/ViduText2VideoSubmitOutput"
        request_id:
          type: string
          description: Unique request identifier.

    ViduText2VideoSubmitOutput:
      type: object
      additionalProperties: false
      required:
        - task_id
      properties:
        task_id:
          type: string
          description: Unique identifier of the asynchronous task.

    ViduText2VideoStatusResponse:
      type: object
      additionalProperties: false
      required:
        - output
        - request_id
      properties:
        output:
          $ref: "#/components/schemas/ViduText2VideoStatusOutput"
        usage:
          $ref: "#/components/schemas/ViduText2VideoUsage"
        request_id:
          type: string
          description: Unique request identifier.

    ViduText2VideoStatusOutput:
      type: object
      additionalProperties: false
      required:
        - task_id
        - task_status
      properties:
        task_id:
          type: string
          description: Unique identifier of the asynchronous task.
        task_status:
          $ref: "#/components/schemas/ViduText2VideoTaskStatus"
        urls:
          type: array
          description: Video result URL list.
          items:
            type: string
            format: uri
        submit_time:
          type: integer
          format: int64
          description: Task submission timestamp.
        finish_time:
          type: integer
          format: int64
          description: Task completion timestamp.
        error_message:
          type: string
          description: Error message returned when the task fails.

    ViduText2VideoTaskStatus:
      type: string
      enum:
        - Pending
        - Running
        - Success
        - Failure
      description: Current asynchronous task status.

    ViduText2VideoUsage:
      type: object
      additionalProperties: false
      properties:
        duration:
          type: integer
          description: Video duration in seconds.

    ViduText2VideoErrorResponse:
      type: object
      additionalProperties: true
      required:
        - error
      properties:
        error:
          $ref: "#/components/schemas/ViduText2VideoErrorObject"
        request_id:
          type: string
          description: Unique request identifier, if available.

    ViduText2VideoErrorObject:
      type: object
      additionalProperties: true
      required:
        - message
        - type
      properties:
        message:
          type: string
          description: Error message.
        type:
          type: string
          description: Error type.
        code:
          type:
            - string
            - "null"
          description: Error code.
        param:
          type:
            - string
            - "null"
          description: Request parameter related to the error.

  examples:
    ViduText2VideoParamError:
      summary: Invalid parameter error
      value:
        error:
          message: Invalid param
          type: invalid_request_error
          code: param_error
          param: input.prompt
        request_id: request_id
