openapi: 3.1.0
x-language: en-US
info:
  title: ModelVerse Wan-AI/Wan2.6-I2V Video Task API
  version: "1.0.0"
  description: |
    Self-contained OpenAPI 3.1 schema for the ModelVerse Wan-AI/Wan2.6-I2V
    image-to-video asynchronous task API.

servers:
  - url: https://api.modelverse.cn
    description: ModelVerse API endpoint documented for this model.

tags:
  - name: Wan-AI/Wan2.6-I2V
    description: Image-to-video asynchronous task operations.

paths:
  /v1/tasks/submit:
    post:
      tags:
        - Wan-AI/Wan2.6-I2V
      operationId: submitWanAIWan26I2VTask
      summary: Submit a Wan-AI/Wan2.6-I2V image-to-video task
      description: Submit an asynchronous image-to-video generation task.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WanAIWan26I2VSubmitRequest"
            examples:
              imageToVideo:
                summary: Submit an image-to-video task
                value:
                  model: Wan-AI/Wan2.6-I2V
                  input:
                    img_url: https://umodelverse-inference.cn-wlcb.ufileos.com/ucloud-maxcot.jpg
                    prompt: make it swim
                  parameters:
                    resolution: 1080P
                    duration: 5
                    prompt_extend: true
                    shot_type: single
              withAudioGuidance:
                summary: Submit an image-to-video task with audio guidance
                value:
                  model: Wan-AI/Wan2.6-I2V
                  input:
                    img_url: https://umodelverse-inference.cn-wlcb.ufileos.com/ucloud-maxcot.jpg
                    prompt: make it swim in sync with the music
                    negative_prompt: blurry, distorted
                    audio_url: https://example.com/audio.mp3
                  parameters:
                    resolution: 720P
                    duration: 10
                    seed: 12345
                    prompt_extend: true
                    shot_type: single
      responses:
        "200":
          description: Task submitted successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WanAIWan26I2VSubmitResponse"
              examples:
                submitted:
                  summary: Submitted task
                  value:
                    output:
                      task_id: task_id
                    request_id: request_id
        "400":
          description: Invalid request parameters.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WanAIWan26I2VErrorResponse"
              examples:
                paramError:
                  $ref: "#/components/examples/WanAIWan26I2VParamError"
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WanAIWan26I2VErrorResponse"
              examples:
                error:
                  $ref: "#/components/examples/WanAIWan26I2VParamError"

  /v1/tasks/status:
    get:
      tags:
        - Wan-AI/Wan2.6-I2V
      operationId: getWanAIWan26I2VTaskStatus
      summary: Query a Wan-AI/Wan2.6-I2V task status
      description: Query the status and result URLs for an asynchronous task.
      security:
        - bearerAuth: []
      parameters:
        - name: task_id
          in: query
          required: true
          description: Asynchronous task identifier returned by `/v1/tasks/submit`.
          schema:
            type: string
          examples:
            placeholder:
              summary: Source documentation placeholder
              value: task_id
      responses:
        "200":
          description: Task status response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WanAIWan26I2VStatusResponse"
              examples:
                success:
                  summary: Successful task
                  value:
                    output:
                      task_id: task_id
                      task_status: Success
                      urls:
                        - https://xxxxx/xxxx.mp4
                      submit_time: 1756959000
                      finish_time: 1756959050
                    usage:
                      duration: 5
                    request_id: ""
                failure:
                  summary: Failed task
                  value:
                    output:
                      task_id: task_id
                      task_status: Failure
                      submit_time: 1756959000
                      finish_time: 1756959019
                      error_message: error_message
                    usage:
                      duration: 5
                    request_id: ""
        "400":
          description: Invalid request parameters.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WanAIWan26I2VErrorResponse"
              examples:
                paramError:
                  $ref: "#/components/examples/WanAIWan26I2VParamError"
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WanAIWan26I2VErrorResponse"
              examples:
                error:
                  $ref: "#/components/examples/WanAIWan26I2VParamError"

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API key
      description: "ModelVerse API key sent in the `Authorization: Bearer <API_KEY>` header."

  schemas:
    WanAIWan26I2VSubmitRequest:
      type: object
      additionalProperties: false
      required:
        - model
        - input
      properties:
        model:
          type: string
          const: Wan-AI/Wan2.6-I2V
          description: Model name. This schema is pinned to `Wan-AI/Wan2.6-I2V`.
        input:
          $ref: "#/components/schemas/WanAIWan26I2VInput"
        parameters:
          $ref: "#/components/schemas/WanAIWan26I2VParameters"

    WanAIWan26I2VInput:
      type: object
      additionalProperties: false
      required:
        - prompt
      properties:
        prompt:
          type: string
          minLength: 1
          description: Prompt used to guide video generation.
        negative_prompt:
          type: string
          description: Negative prompt used to limit undesired content.
        img_url:
          type: string
          format: uri
          description: Video first-frame image URL.
        audio_url:
          type: string
          format: uri
          description: |
            Audio URL used to guide generation. If the audio is longer than the
            requested video duration, it is truncated; if shorter, the remaining
            video segment is silent.

    WanAIWan26I2VParameters:
      type: object
      additionalProperties: false
      properties:
        resolution:
          type: string
          description: |
            Generated video resolution tier. The selected tier affects pricing,
            and the model scales to a similar total pixel count while preserving
            the input image aspect ratio as much as possible.
          enum:
            - 720P
            - 1080P
          default: 1080P
        duration:
          type: integer
          description: Generated video duration in seconds.
          enum:
            - 5
            - 10
            - 15
        seed:
          type: integer
          minimum: 0
          maximum: 4294967295
          description: Random seed.
        prompt_extend:
          type: boolean
          description: |
            Whether to enable intelligent prompt rewriting. This can improve
            short prompts but may increase latency.
          default: true
        shot_type:
          type: string
          description: |
            Video shot type. This only takes effect when `prompt_extend` is true,
            and has higher priority than instructions in `prompt`.
          enum:
            - single
            - multi
          default: single

    WanAIWan26I2VSubmitResponse:
      type: object
      additionalProperties: false
      required:
        - output
        - request_id
      properties:
        output:
          type: object
          additionalProperties: false
          required:
            - task_id
          properties:
            task_id:
              type: string
              description: Unique identifier of the asynchronous task.
        request_id:
          type: string
          description: Unique request identifier.

    WanAIWan26I2VStatusResponse:
      type: object
      additionalProperties: false
      required:
        - output
        - request_id
      properties:
        output:
          $ref: "#/components/schemas/WanAIWan26I2VStatusOutput"
        usage:
          $ref: "#/components/schemas/WanAIWan26I2VUsage"
        request_id:
          type: string
          description: Unique request identifier.

    WanAIWan26I2VStatusOutput:
      type: object
      additionalProperties: false
      required:
        - task_id
        - task_status
      properties:
        task_id:
          type: string
          description: Unique identifier of the asynchronous task.
        task_status:
          $ref: "#/components/schemas/WanAIWan26I2VTaskStatus"
        urls:
          type: array
          description: Video result URL list.
          items:
            type: string
            format: uri
        submit_time:
          type: integer
          format: int64
          description: Task submission timestamp.
        finish_time:
          type: integer
          format: int64
          description: Task completion timestamp.
        error_message:
          type: string
          description: Error message returned when the task fails.

    WanAIWan26I2VTaskStatus:
      type: string
      description: Task status.
      enum:
        - Pending
        - Running
        - Success
        - Failure

    WanAIWan26I2VUsage:
      type: object
      additionalProperties: false
      properties:
        duration:
          type: integer
          description: Task execution duration in seconds.

    WanAIWan26I2VErrorResponse:
      type: object
      additionalProperties: true
      required:
        - error
      properties:
        error:
          $ref: "#/components/schemas/WanAIWan26I2VErrorObject"

    WanAIWan26I2VErrorObject:
      type: object
      additionalProperties: true
      required:
        - message
        - type
      properties:
        message:
          type: string
          description: Error message.
        type:
          type: string
          description: Error type.
          examples:
            - invalid_request_error
        code:
          type:
            - string
            - "null"
          description: Error code.
          examples:
            - param_error
        param:
          type:
            - string
            - "null"
          description: Related request parameter, if any.

  examples:
    WanAIWan26I2VParamError:
      summary: Invalid parameter error
      value:
        error:
          message: Invalid param
          type: invalid_request_error
          code: param_error
          param: task_id
