openapi: 3.1.0
x-language: en-US
info:
  title: ModelVerse Wan-AI/Wan2.6-R2V-Flash Video Task API
  version: "1.0.0"
  description: |
    Self-contained OpenAPI 3.1 schema for the ModelVerse Wan-AI/Wan2.6-R2V-Flash
    reference-to-video asynchronous task API.

servers:
  - url: https://api.modelverse.cn
    description: ModelVerse API endpoint documented for this model.

tags:
  - name: Wan-AI/Wan2.6-R2V-Flash
    description: Reference-to-video asynchronous task operations.

paths:
  /v1/tasks/submit:
    post:
      tags:
        - Wan-AI/Wan2.6-R2V-Flash
      operationId: submitWanAIWan26R2VFlashTask
      summary: Submit a Wan-AI/Wan2.6-R2V-Flash reference-to-video task
      description: Submit an asynchronous reference-to-video generation task.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WanAIWan26R2VFlashSubmitRequest"
            examples:
              referenceToVideo:
                summary: Submit a reference-to-video task
                value:
                  model: wan2.6-r2v-flash
                  input:
                    prompt: "Character2 坐在靠窗的椅子上，手持 character3，在 character4 旁演奏一首舒缓的美国乡村民谣。Character1 对Character2开口说道：“听起来不错”"
                    reference_urls:
                      - https://example.com/wan-r2v-role1.mp4
                      - https://example.com/wan-r2v-role2.mp4
                      - https://example.com/wan-r2v-object4.png
                      - https://example.com/wan-r2v-backgroud5.png
                  parameters:
                    size: 1920x1080
                    duration: 5
                    audio: true
                    shot_type: single
              minimal:
                summary: Minimal documented request
                value:
                  model: wan2.6-r2v-flash
                  input:
                    prompt: Generate a short video matching the referenced character.
                    reference_urls:
                      - https://example.com/character.png
                  parameters:
                    size: 1280x720
      responses:
        "200":
          description: Task submitted successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WanAIWan26R2VFlashSubmitResponse"
              examples:
                submitted:
                  summary: Submitted task
                  value:
                    output:
                      task_id: task_id
                    request_id: request_id
        "400":
          description: Invalid request parameters.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WanAIWan26R2VFlashErrorResponse"
              examples:
                invalidParameter:
                  $ref: "#/components/examples/WanAIWan26R2VFlashInvalidParameterError"
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WanAIWan26R2VFlashErrorResponse"
              examples:
                error:
                  $ref: "#/components/examples/WanAIWan26R2VFlashInvalidParameterError"

  /v1/tasks/status:
    get:
      tags:
        - Wan-AI/Wan2.6-R2V-Flash
      operationId: getWanAIWan26R2VFlashTaskStatus
      summary: Query a Wan-AI/Wan2.6-R2V-Flash task status
      description: Query the status and result URLs for an asynchronous task.
      security:
        - bearerAuth: []
      parameters:
        - name: task_id
          in: query
          required: true
          description: Unique identifier of the asynchronous task returned by `/v1/tasks/submit`.
          schema:
            type: string
          example: task_id
      responses:
        "200":
          description: Task status response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WanAIWan26R2VFlashStatusResponse"
              examples:
                success:
                  summary: Successful task
                  value:
                    output:
                      task_id: task_id
                      task_status: Success
                      urls:
                        - https://xxxxx/xxxx.mp4
                      submit_time: 1756959000
                      finish_time: 1756959050
                    usage:
                      duration: 5
                    request_id: ""
                failure:
                  summary: Failed task
                  value:
                    output:
                      task_id: task_id
                      task_status: Failure
                      submit_time: 1756959000
                      finish_time: 1756959019
                      error_message: error_message
                    usage:
                      duration: 5
                    request_id: ""
        "400":
          description: Invalid task identifier or request parameters.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WanAIWan26R2VFlashErrorResponse"
              examples:
                invalidParameter:
                  $ref: "#/components/examples/WanAIWan26R2VFlashInvalidParameterError"
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WanAIWan26R2VFlashErrorResponse"
              examples:
                error:
                  $ref: "#/components/examples/WanAIWan26R2VFlashInvalidParameterError"

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API key
      description: "API key sent with the `Authorization: Bearer <token>` header."

  schemas:
    WanAIWan26R2VFlashSubmitRequest:
      type: object
      additionalProperties: false
      required:
        - model
        - input
        - parameters
      properties:
        model:
          type: string
          const: wan2.6-r2v-flash
          description: Model name. This schema is pinned to `wan2.6-r2v-flash`.
        input:
          $ref: "#/components/schemas/WanAIWan26R2VFlashInput"
        parameters:
          $ref: "#/components/schemas/WanAIWan26R2VFlashParameters"

    WanAIWan26R2VFlashInput:
      type: object
      additionalProperties: false
      required:
        - prompt
        - reference_urls
      properties:
        prompt:
          type: string
          description: Prompt used to guide video generation.
        reference_urls:
          type: array
          maxItems: 5
          description: |
            Uploaded reference file URL list. Each URL may point to one image or one video, and each
            reference file should contain one subject. Multiple reference files define character order
            by array position: the first URL corresponds to character1, the second to character2, and so on.

            Documented limits: images 0 to 5, videos 0 to 3, and images plus videos at most 5.
            Reference videos support MP4 or MOV, duration 1s to 30s, and file size up to 100 MB.
            Reference images support JPEG, JPG, PNG without alpha channel, BMP, and WEBP, with width
            and height each in the range [240, 8000] pixels and file size up to 20 MB.
          items:
            type: string
            format: uri

    WanAIWan26R2VFlashParameters:
      type: object
      additionalProperties: false
      required:
        - size
      properties:
        size:
          type: string
          description: Generated video size. The documented choices map to 720P and 1080P landscape or portrait resolutions.
          enum:
            - 1280x720
            - 720x1280
            - 1920x1080
            - 1080x1920
        duration:
          type: integer
          description: Generated video duration in seconds.
          enum:
            - 5
            - 10
          default: 5
        shot_type:
          type: string
          description: |
            Generated video shot type. This parameter takes precedence over the prompt: for example,
            `single` produces a single-shot video even when the prompt asks for multiple shots.
          enum:
            - single
            - multi
          default: single
        watermark:
          type: boolean
          description: Whether to add the fixed "AI生成" watermark in the bottom-right corner of the video.
          default: false
        audio:
          type: boolean
          description: Whether to output sound.
          default: false

    WanAIWan26R2VFlashSubmitResponse:
      type: object
      additionalProperties: false
      required:
        - output
        - request_id
      properties:
        output:
          type: object
          additionalProperties: false
          required:
            - task_id
          properties:
            task_id:
              type: string
              description: Unique identifier of the asynchronous task.
        request_id:
          type: string
          description: Unique request identifier.

    WanAIWan26R2VFlashStatusResponse:
      type: object
      additionalProperties: false
      required:
        - output
        - request_id
      properties:
        output:
          type: object
          additionalProperties: false
          required:
            - task_id
            - task_status
          properties:
            task_id:
              type: string
              description: Unique identifier of the asynchronous task.
            task_status:
              $ref: "#/components/schemas/WanAIWan26R2VFlashTaskStatus"
            urls:
              type: array
              description: Video result URL list.
              items:
                type: string
                format: uri
            submit_time:
              type: integer
              format: int64
              description: Task submission timestamp.
            finish_time:
              type: integer
              format: int64
              description: Task completion timestamp.
            error_message:
              type: string
              description: Error message returned when the task fails.
        usage:
          type: object
          additionalProperties: false
          properties:
            duration:
              type: integer
              description: Task execution duration in seconds.
        request_id:
          type: string
          description: Unique request identifier.

    WanAIWan26R2VFlashTaskStatus:
      type: string
      description: Current asynchronous task status.
      enum:
        - Pending
        - Running
        - Success
        - Failure

    WanAIWan26R2VFlashErrorResponse:
      type: object
      additionalProperties: true
      required:
        - error
      properties:
        error:
          $ref: "#/components/schemas/WanAIWan26R2VFlashErrorObject"
        request_id:
          type: string
          description: Unique request identifier, if available.

    WanAIWan26R2VFlashErrorObject:
      type: object
      additionalProperties: true
      required:
        - message
        - type
      properties:
        message:
          type: string
          description: Error message.
        type:
          type: string
          description: Error type.
          examples:
            - invalid_request_error
        code:
          type: string
          description: Error code.

  examples:
    WanAIWan26R2VFlashInvalidParameterError:
      summary: Invalid parameter error
      value:
        error:
          message: Invalid param
          type: invalid_request_error
          code: param_error
        request_id: request_id
