openapi: 3.1.0
x-language: en-US
info:
  title: ModelVerse Wan-AI/Wan2.6-T2V Video Task API
  version: "1.0.0"
  description: |
    OpenAPI 3.1 schema for the Wan-AI/Wan2.6-T2V text-to-video asynchronous task API.

servers:
  - url: https://api.modelverse.cn
    description: ModelVerse API endpoint documented for this model.

tags:
  - name: Wan-AI/Wan2.6-T2V
    description: Text-to-video asynchronous task operations for Wan-AI/Wan2.6-T2V.

paths:
  /v1/tasks/submit:
    post:
      tags:
        - Wan-AI/Wan2.6-T2V
      operationId: submitWanAIWan26T2VTask
      summary: Submit a Wan-AI/Wan2.6-T2V text-to-video task
      description: Submit an asynchronous text-to-video generation task.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WanAIWan26T2VTaskSubmitRequest"
            examples:
              withAudio:
                summary: Text-to-video request with audio guidance
                value:
                  model: Wan-AI/Wan2.6-T2V
                  input:
                    prompt: A beautiful girl is dancing
                    audio_url: https://example.com/audio.mp3
                  parameters:
                    size: 1280x720
                    duration: 5
              withOptionalControls:
                summary: Text-to-video request with optional controls
                value:
                  model: Wan-AI/Wan2.6-T2V
                  input:
                    prompt: A beautiful girl is dancing
                    negative_prompt: low quality, blurry
                  parameters:
                    size: 1920x1080
                    duration: 10
                    seed: 12345
                    prompt_extend: true
                    shot_type: single
      responses:
        "200":
          description: Task submitted successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WanAIWan26T2VTaskSubmitResponse"
              examples:
                submitted:
                  summary: Submitted task
                  value:
                    output:
                      task_id: task_id
                    request_id: request_id
        "400":
          description: Invalid request parameters.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WanAIWan26T2VErrorResponse"
              examples:
                invalidParameter:
                  $ref: "#/components/examples/WanAIWan26T2VInvalidParameterError"
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WanAIWan26T2VErrorResponse"
              examples:
                error:
                  $ref: "#/components/examples/WanAIWan26T2VInvalidParameterError"

  /v1/tasks/status:
    get:
      tags:
        - Wan-AI/Wan2.6-T2V
      operationId: getWanAIWan26T2VTaskStatus
      summary: Query Wan-AI/Wan2.6-T2V task status
      description: Query the status and result URLs for an asynchronous text-to-video task.
      security:
        - bearerAuth: []
      parameters:
        - name: task_id
          in: query
          required: true
          description: Asynchronous task identifier returned by `/v1/tasks/submit`.
          schema:
            type: string
          examples:
            taskId:
              value: task_id
      responses:
        "200":
          description: Task status response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WanAIWan26T2VTaskStatusResponse"
              examples:
                success:
                  summary: Successful task
                  value:
                    output:
                      task_id: task_id
                      task_status: Success
                      urls:
                        - https://xxxxx/xxxx.mp4
                      submit_time: 1756959000
                      finish_time: 1756959050
                    usage:
                      duration: 5
                    request_id: ""
                failure:
                  summary: Failed task
                  value:
                    output:
                      task_id: task_id
                      task_status: Failure
                      submit_time: 1756959000
                      finish_time: 1756959019
                      error_message: error_message
                    usage:
                      duration: 5
                    request_id: ""
        "400":
          description: Invalid task identifier or request parameters.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WanAIWan26T2VErrorResponse"
              examples:
                invalidParameter:
                  $ref: "#/components/examples/WanAIWan26T2VInvalidParameterError"
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WanAIWan26T2VErrorResponse"
              examples:
                error:
                  $ref: "#/components/examples/WanAIWan26T2VInvalidParameterError"

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API key
      description: "ModelVerse API key sent as `Authorization: Bearer <MODELVERSE_API_KEY>`."

  schemas:
    WanAIWan26T2VTaskSubmitRequest:
      type: object
      additionalProperties: false
      required:
        - model
        - input
        - parameters
      properties:
        model:
          type: string
          const: Wan-AI/Wan2.6-T2V
          description: Model name. Fixed to `Wan-AI/Wan2.6-T2V` for this API document.
        input:
          $ref: "#/components/schemas/WanAIWan26T2VInput"
        parameters:
          $ref: "#/components/schemas/WanAIWan26T2VParameters"

    WanAIWan26T2VInput:
      type: object
      additionalProperties: false
      required:
        - prompt
      properties:
        prompt:
          type: string
          minLength: 1
          description: Prompt used to guide video generation.
        negative_prompt:
          type: string
          description: Negative prompt used to limit undesired content.
        audio_url:
          type: string
          format: uri
          description: |
            Optional audio URL used to guide generation. If the audio is longer than the
            generated video duration, it is truncated; if shorter, the remaining video is silent.

    WanAIWan26T2VParameters:
      type: object
      additionalProperties: false
      required:
        - size
      properties:
        size:
          type: string
          description: |
            Generated video size. Supported resolutions are 720P landscape/portrait and
            1080P landscape/portrait.
          enum:
            - 1280x720
            - 720x1280
            - 1920x1080
            - 1080x1920
        duration:
          type: integer
          description: Generated video duration in seconds.
          enum:
            - 5
            - 10
            - 15
          default: 5
        seed:
          type: integer
          minimum: 0
          maximum: 2147483647
          description: Random seed.
        prompt_extend:
          type: boolean
          description: |
            Whether to enable intelligent prompt rewriting by a large model. This can improve
            results for short prompts but may increase latency.
          default: true
        shot_type:
          type: string
          description: |
            Shot type for the generated video. This is effective only when `prompt_extend` is
            `true`; `shot_type` takes precedence over prompt text that asks for a different
            shot composition.
          enum:
            - single
            - multi
          default: single

    WanAIWan26T2VTaskSubmitResponse:
      type: object
      additionalProperties: false
      required:
        - output
        - request_id
      properties:
        output:
          type: object
          additionalProperties: false
          required:
            - task_id
          properties:
            task_id:
              type: string
              description: Unique asynchronous task identifier.
        request_id:
          type: string
          description: Unique request identifier.

    WanAIWan26T2VTaskStatusResponse:
      type: object
      additionalProperties: false
      required:
        - output
        - request_id
      properties:
        output:
          $ref: "#/components/schemas/WanAIWan26T2VTaskStatusOutput"
        usage:
          $ref: "#/components/schemas/WanAIWan26T2VUsage"
        request_id:
          type: string
          description: Unique request identifier.

    WanAIWan26T2VTaskStatusOutput:
      type: object
      additionalProperties: false
      required:
        - task_id
        - task_status
      properties:
        task_id:
          type: string
          description: Unique asynchronous task identifier.
        task_status:
          $ref: "#/components/schemas/WanAIWan26T2VTaskStatus"
        urls:
          type: array
          description: Video result URL list.
          items:
            type: string
            format: uri
        submit_time:
          type: integer
          format: int64
          description: Task submission Unix timestamp in seconds.
        finish_time:
          type: integer
          format: int64
          description: Task completion Unix timestamp in seconds.
        error_message:
          type: string
          description: Error message returned when the task fails.

    WanAIWan26T2VUsage:
      type: object
      additionalProperties: false
      properties:
        duration:
          type: integer
          description: Task execution duration in seconds.

    WanAIWan26T2VTaskStatus:
      type: string
      description: Current asynchronous task status.
      enum:
        - Pending
        - Running
        - Success
        - Failure

    WanAIWan26T2VErrorResponse:
      type: object
      additionalProperties: true
      required:
        - error
      properties:
        error:
          $ref: "#/components/schemas/WanAIWan26T2VErrorObject"
        request_id:
          type: string
          description: Unique request identifier, if available.

    WanAIWan26T2VErrorObject:
      type: object
      additionalProperties: true
      required:
        - message
        - type
      properties:
        message:
          type: string
          description: Error message.
        type:
          type: string
          description: Error type.
        code:
          type:
            - string
            - "null"
          description: Error code.
        param:
          type:
            - string
            - "null"
          description: Request parameter related to the error.

  examples:
    WanAIWan26T2VInvalidParameterError:
      summary: Invalid parameter error
      value:
        error:
          message: Invalid param
          type: invalid_request_error
          code: param_error
          param: parameters.size
        request_id: request_id
