openapi: 3.1.0
x-language: en-US
info:
  title: ModelVerse Wan-AI/Wan2.5-T2V Video Task API
  version: "1.0.0"
  description: |
    OpenAPI 3.1 schema for the Wan-AI/Wan2.5-T2V text-to-video asynchronous task API.

servers:
  - url: https://api.modelverse.cn
    description: ModelVerse API endpoint documented for this model.

tags:
  - name: Wan-AI/Wan2.5-T2V
    description: Text-to-video asynchronous task operations.

paths:
  /v1/tasks/submit:
    post:
      tags:
        - Wan-AI/Wan2.5-T2V
      operationId: submitWanAIWan25T2VTask
      summary: Submit a Wan-AI/Wan2.5-T2V text-to-video task
      description: Submit an asynchronous text-to-video generation task.
      security:
        - apiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WanAIWan25T2VTaskSubmitRequest"
            examples:
              basic:
                summary: Basic text-to-video request
                value:
                  model: Wan-AI/Wan2.5-T2V
                  input:
                    prompt: A beautiful girl is dancing
                  parameters:
                    size: 832x480
                    duration: 5
              withAudio:
                summary: Text-to-video request with audio guidance
                value:
                  model: Wan-AI/Wan2.5-T2V
                  input:
                    prompt: A beautiful girl is dancing
                    audio_url: https://example.com/audio.mp3
                  parameters:
                    size: 832x480
                    duration: 5
      responses:
        "200":
          description: Task submitted successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TaskSubmitResponse"
              examples:
                submitted:
                  summary: Submitted task
                  value:
                    output:
                      task_id: task_id
                    request_id: request_id
        "400":
          description: Invalid request parameters.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                invalidParameter:
                  $ref: "#/components/examples/InvalidParameterError"
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                error:
                  $ref: "#/components/examples/InvalidParameterError"

  /v1/tasks/status:
    get:
      tags:
        - Wan-AI/Wan2.5-T2V
      operationId: getWanAIWan25T2VTaskStatus
      summary: Query Wan-AI/Wan2.5-T2V task status
      description: Query the status and result URLs for an asynchronous task.
      security:
        - apiKeyAuth: []
      parameters:
        - name: task_id
          in: query
          required: true
          description: Asynchronous task identifier returned by `/v1/tasks/submit`.
          schema:
            type: string
          examples:
            taskId:
              value: task_id
      responses:
        "200":
          description: Task status response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TaskStatusResponse"
              examples:
                success:
                  summary: Successful task
                  value:
                    output:
                      task_id: task_id
                      task_status: Success
                      urls:
                        - https://xxxxx/xxxx.mp4
                      submit_time: 1756959000
                      finish_time: 1756959050
                    usage:
                      duration: 5
                    request_id: ""
                failure:
                  summary: Failed task
                  value:
                    output:
                      task_id: task_id
                      task_status: Failure
                      submit_time: 1756959000
                      finish_time: 1756959019
                      error_message: error_message
                    usage:
                      duration: 5
                    request_id: ""
        "400":
          description: Invalid task identifier or request parameters.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                invalidParameter:
                  $ref: "#/components/examples/InvalidParameterError"
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                error:
                  $ref: "#/components/examples/InvalidParameterError"

components:
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
      description: ModelVerse API key, passed in the `Authorization` header as shown in the source examples.

  schemas:
    WanAIWan25T2VTaskSubmitRequest:
      type: object
      additionalProperties: false
      required:
        - model
        - input
        - parameters
      properties:
        model:
          type: string
          const: Wan-AI/Wan2.5-T2V
          description: Model name. Fixed to `Wan-AI/Wan2.5-T2V` for this API document.
        input:
          $ref: "#/components/schemas/WanAIWan25T2VInput"
        parameters:
          $ref: "#/components/schemas/WanAIWan25T2VParameters"

    WanAIWan25T2VInput:
      type: object
      additionalProperties: false
      required:
        - prompt
      properties:
        prompt:
          type: string
          minLength: 1
          description: Prompt used to guide video generation.
        negative_prompt:
          type: string
          description: Negative prompt used to limit undesired content.
        audio_url:
          type: string
          format: uri
          description: Optional audio file URL used to guide generation.

    WanAIWan25T2VParameters:
      type: object
      additionalProperties: false
      required:
        - size
      properties:
        size:
          type: string
          description: Generated video size. The documented choices map to 480P, 720P, and 1080P landscape or portrait resolutions.
          enum:
            - 832x480
            - 480x832
            - 1280x720
            - 720x1280
            - 1920x1080
            - 1080x1920
        duration:
          type: integer
          description: Generated video duration in seconds.
          enum:
            - 5
            - 10
          default: 5
        prompt_extend:
          type: boolean
          description: Whether to enable intelligent prompt rewriting by a large model. This can improve short prompts but may increase latency.
          default: false
        seed:
          type: integer
          minimum: -1
          maximum: 2147483647
          description: Random seed. `-1` means random.

    TaskSubmitResponse:
      type: object
      additionalProperties: false
      required:
        - output
        - request_id
      properties:
        output:
          type: object
          additionalProperties: false
          required:
            - task_id
          properties:
            task_id:
              type: string
              description: Unique asynchronous task identifier.
        request_id:
          type: string
          description: Unique request identifier.

    TaskStatusResponse:
      type: object
      additionalProperties: false
      required:
        - output
        - request_id
      properties:
        output:
          type: object
          additionalProperties: false
          required:
            - task_id
            - task_status
          properties:
            task_id:
              type: string
              description: Unique asynchronous task identifier.
            task_status:
              $ref: "#/components/schemas/TaskStatus"
            urls:
              type: array
              description: Video result URL list.
              items:
                type: string
                format: uri
            submit_time:
              type: integer
              format: int64
              description: Task submission Unix timestamp in seconds.
            finish_time:
              type: integer
              format: int64
              description: Task completion Unix timestamp in seconds.
            error_message:
              type: string
              description: Error message returned when the task fails.
        usage:
          type: object
          additionalProperties: false
          properties:
            duration:
              type: integer
              description: Task execution duration in seconds.
        request_id:
          type: string
          description: Unique request identifier.

    TaskStatus:
      type: string
      description: Task status.
      enum:
        - Pending
        - Running
        - Success
        - Failure

    ErrorResponse:
      type: object
      additionalProperties: true
      required:
        - error
      properties:
        error:
          $ref: "#/components/schemas/ErrorObject"

    ErrorObject:
      type: object
      additionalProperties: true
      required:
        - message
        - type
      properties:
        message:
          type: string
          description: Error message.
        type:
          type: string
          description: Error type.
          enum:
            - invalid_request_error
            - timeout
            - rate_limit_error
            - internal_error
        code:
          type:
            - string
            - "null"
          description: Error code.
        param:
          type:
            - string
            - "null"
          description: Request id or parameter name related to the error.

  examples:
    InvalidParameterError:
      summary: Invalid parameter error
      value:
        error:
          message: Invalid param
          type: invalid_request_error
          code: param_error
          param: request_id
