openapi: 3.1.0
x-language: zh-CN
info:
  title: gemini-2.5-flash-image接口文档
  version: "1.0.0"
  description: |
    这是 ModelVerse 上 `gemini-2.5-flash-image` 的图片接口文档，说明如何发起图片生成或编辑请求、填写参数、读取结果以及处理错误。
    接口路径包括 `POST /v1beta/models/gemini-2.5-flash-image:generateContent`。
servers:
  - url: https://api.modelverse.cn
    description: 该模型文档中使用的 ModelVerse API 端点。

tags:
  - name: gemini-2.5-flash-image
    description: Gemini-compatible text-to-image and image editing with gemini-2.5-flash-image.

security:
  - xGoogApiKey: []
  - bearerAuth: []

paths:
  /v1beta/models/gemini-2.5-flash-image:generateContent:
    post:
      tags:
        - gemini-2.5-flash-image
      operationId: generateContentGemini25FlashImage
      summary: 使用 gemini-2.5-flash-image 生成内容
      description: |
        调用 Gemini 兼容的内容生成接口。请求中传入文本或图像 part，响应返回文本、图片数据和用量信息。
      security:
        - xGoogApiKey: []
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Gemini25FlashImageGenerateContentRequest"
            examples:
              textToImage:
                summary: 源文档文生图请求
                value:
                  contents:
                    - role: user
                      parts:
                        - text: Create a picture of a nano banana dish in a fancy restaurant with a Gemini theme
                  generationConfig:
                    responseModalities:
                      - TEXT
                      - IMAGE
              imageEditInlineData:
                summary: 源文档 图像编辑请求带内联图像数据
                value:
                  contents:
                    - role: user
                      parts:
                        - text: Convert this photo to black and white, in a cartoonish style.
                        - inlineData:
                            mimeType: image/jpeg
                            data: "{image_base64_string}"
                  generationConfig:
                    responseModalities:
                      - TEXT
                      - IMAGE
              imageEditFileData:
                summary: 图像编辑请求使用文档中的fileData
                value:
                  contents:
                    - role: user
                      parts:
                        - text: Convert this photo to black and white, in a cartoonish style.
                        - fileData:
                            mimeType: image/jpeg
                            fileUri: https://umodelverse-inference.cn-wlcb.ufileos.com/ucloud-maxcot.jpg
                  generationConfig:
                    responseModalities:
                      - TEXT
                      - IMAGE
      responses:
        "200":
          description: Gemini-compatible generateContent response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Gemini25FlashImageGenerateContentResponse"
              examples:
                documentedResponse:
                  summary: 源文档响应带text, 图像数据, and usage 元数据
                  value:
                    candidates:
                      - content:
                          parts:
                            - text: "That sounds incredibly unique! Here's a picture of a nano banana dish in a fancy restaurant with a Gemini theme:\n\n"
                            - inlineData:
                                data: xxx
                                mimeType: image/png
                          role: model
                        finishReason: STOP
                    usageMetadata:
                      candidatesTokenCount: 1315
                      candidatesTokensDetails:
                        - modality: IMAGE
                          tokenCount: 1290
                        - modality: TEXT
                          tokenCount: 25
                      promptTokenCount: 16
                      promptTokensDetails:
                        - modality: TEXT
                          tokenCount: 16
                      totalTokenCount: 1331
                      trafficType: ON_DEMAND
        "400":
          $ref: "#/components/responses/Gemini25FlashImageBadRequest"
        "401":
          $ref: "#/components/responses/Gemini25FlashImageUnauthorized"
        default:
          $ref: "#/components/responses/Gemini25FlashImageError"

components:
  securitySchemes:
    xGoogApiKey:
      type: apiKey
      in: header
      name: x-goog-api-key
      description: |
        调用 Gemini 兼容的内容生成接口。请求中传入文本或图像 part，响应返回文本、图片数据和用量信息。
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API key
      description: |
        调用 Gemini 兼容的内容生成接口。请求中传入文本或图像 part，响应返回文本、图片数据和用量信息。
  responses:
    Gemini25FlashImageBadRequest:
      description: |
        调用 Gemini 兼容的内容生成接口。请求中传入文本或图像 part，响应返回文本、图片数据和用量信息。
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Gemini25FlashImageErrorResponse"
          examples:
            documentedError:
              $ref: "#/components/examples/Gemini25FlashImageError"
    Gemini25FlashImageUnauthorized:
      description: |
        调用 Gemini 兼容的内容生成接口。请求中传入文本或图像 part，响应返回文本、图片数据和用量信息。
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Gemini25FlashImageErrorResponse"
          examples:
            documentedError:
              $ref: "#/components/examples/Gemini25FlashImageError"
    Gemini25FlashImageError:
      description: |
        调用 Gemini 兼容的内容生成接口。请求中传入文本或图像 part，响应返回文本、图片数据和用量信息。
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Gemini25FlashImageErrorResponse"
          examples:
            documentedError:
              $ref: "#/components/examples/Gemini25FlashImageError"

  schemas:
    Gemini25FlashImageGenerateContentRequest:
      type: object
      additionalProperties: false
      required:
        - contents
      properties:
        contents:
          type: array
          minItems: 1
          description: Request content, containing one or more content parts.
          items:
            $ref: "#/components/schemas/Gemini25FlashImageRequestContent"
        generationConfig:
          $ref: "#/components/schemas/Gemini25FlashImageGenerationConfig"

    Gemini25FlashImageRequestContent:
      type: object
      additionalProperties: false
      required:
        - role
        - parts
      properties:
        role:
          type: string
          const: user
          default: user
          description: Content role. The source document fixes this value to `user`.
        parts:
          type: array
          minItems: 1
          description: Concrete content parts for the request.
          items:
            $ref: "#/components/schemas/Gemini25FlashImageRequestPart"

    Gemini25FlashImageRequestPart:
      type: object
      additionalProperties: false
      anyOf:
        - required:
            - text
        - required:
            - inlineData
        - required:
            - fileData
        - required:
            - file_data
      properties:
        text:
          type: string
          minLength: 1
          description: Prompt text.
        inlineData:
          $ref: "#/components/schemas/Gemini25FlashImageInlineData"
        fileData:
          $ref: "#/components/schemas/Gemini25FlashImageFileData"
        file_data:
          $ref: "#/components/schemas/Gemini25FlashImageFileDataSnakeCase"

    Gemini25FlashImageInlineData:
      type: object
      additionalProperties: false
      required:
        - mimeType
        - data
      properties:
        mimeType:
          type: string
          description: MIME type for the inline data.
          examples:
            - image/jpeg
            - image/png
        data:
          type: string
          minLength: 1
          description: Base64-encoded data.

    Gemini25FlashImageFileData:
      type: object
      additionalProperties: false
      required:
        - mimeType
        - fileUri
      properties:
        mimeType:
          type: string
          description: MIME type for the referenced file.
          examples:
            - image/jpeg
            - image/png
        fileUri:
          type: string
          format: uri
          description: URI for the referenced file.

    Gemini25FlashImageFileDataSnakeCase:
      type: object
      additionalProperties: false
      required:
        - mime_type
        - file_uri
      properties:
        mime_type:
          type: string
          description: MIME type for the referenced file when using snake_case.
          examples:
            - image/jpeg
            - image/png
        file_uri:
          type: string
          format: uri
          description: URI for the referenced file when using snake_case.

    Gemini25FlashImageGenerationConfig:
      type: object
      additionalProperties: false
      properties:
        responseModalities:
          type: array
          minItems: 1
          default:
            - TEXT
            - IMAGE
          description: |
            Expected response modalities. The source examples require both
            `TEXT` and `IMAGE`; image-only output is not supported.
          items:
            $ref: "#/components/schemas/Gemini25FlashImageResponseModality"

    Gemini25FlashImageResponseModality:
      type: string
      enum:
        - TEXT
        - IMAGE
      description: |
        调用 Gemini 兼容的内容生成接口。请求中传入文本或图像 part，响应返回文本、图片数据和用量信息。
    Gemini25FlashImageGenerateContentResponse:
      type: object
      additionalProperties: false
      required:
        - candidates
      properties:
        candidates:
          type: array
          description: Returned candidate content list.
          items:
            $ref: "#/components/schemas/Gemini25FlashImageCandidate"
        usageMetadata:
          $ref: "#/components/schemas/Gemini25FlashImageUsageMetadata"

    Gemini25FlashImageCandidate:
      type: object
      additionalProperties: false
      properties:
        content:
          $ref: "#/components/schemas/Gemini25FlashImageResponseContent"
        finishReason:
          type: string
          description: Completion finish reason.
          examples:
            - STOP

    Gemini25FlashImageResponseContent:
      type: object
      additionalProperties: false
      properties:
        parts:
          type: array
          description: Content parts that may contain text and image data.
          items:
            $ref: "#/components/schemas/Gemini25FlashImageResponsePart"
        role:
          type: string
          const: model
          description: Content role for model output.

    Gemini25FlashImageResponsePart:
      type: object
      additionalProperties: false
      anyOf:
        - required:
            - text
        - required:
            - inlineData
      properties:
        text:
          type: string
          description: Text returned by the model.
        inlineData:
          $ref: "#/components/schemas/Gemini25FlashImageResponseInlineData"
        thought:
          type: boolean
          description: Optional marker for intermediate thought parts shown by the source extraction examples.

    Gemini25FlashImageResponseInlineData:
      type: object
      additionalProperties: false
      required:
        - data
        - mimeType
      properties:
        data:
          type: string
          description: Base64 编码图像数据。
        mimeType:
          type: string
          description: MIME type for the returned image data.
          examples:
            - image/png

    Gemini25FlashImageUsageMetadata:
      type: object
      additionalProperties: false
      properties:
        candidatesTokenCount:
          type: integer
          description: Token count consumed by candidate output.
        candidatesTokensDetails:
          type: array
          description: Candidate token counts split by modality.
          items:
            $ref: "#/components/schemas/Gemini25FlashImageTokenDetails"
        promptTokenCount:
          type: integer
          description: Token count consumed by the prompt.
        promptTokensDetails:
          type: array
          description: Prompt token counts split by modality.
          items:
            $ref: "#/components/schemas/Gemini25FlashImageTokenDetails"
        totalTokenCount:
          type: integer
          description: Total token count consumed by the request.
        trafficType:
          type: string
          description: Traffic type shown in the source response example.
          examples:
            - ON_DEMAND

    Gemini25FlashImageTokenDetails:
      type: object
      additionalProperties: false
      properties:
        modality:
          type: string
          enum:
            - TEXT
            - IMAGE
          description: Token modality.
        tokenCount:
          type: integer
          description: Token count for this modality.

    Gemini25FlashImageErrorResponse:
      type: object
      additionalProperties: false
      required:
        - error
      properties:
        error:
          $ref: "#/components/schemas/Gemini25FlashImageErrorObject"

    Gemini25FlashImageErrorObject:
      type: object
      additionalProperties: true
      properties:
        message:
          type: string
          description: 错误信息。
        type:
          type: string
          description: 错误类型。
        param:
          type: string
          description: 请求 ID 或相关参数。
        code:
          type: string
          description: 错误码。

  examples:
    Gemini25FlashImageError:
      summary: 文档中的错误响应
      value:
        error:
          message: error_message
          type: error_type
          param: request_id
          code: error_code
