openapi: 3.1.0
x-language: zh-CN
info:
  title: midjourney接口文档
  version: "1.0.0"
  description: |
    这是 ModelVerse 上 `midjourney` 的图片接口文档，说明如何发起图片生成或编辑请求、填写参数、读取结果以及处理错误。
    接口路径包括 `POST /v1/tasks/submit`、`GET /v1/tasks/status`。
servers:
  - url: https://api.modelverse.cn
    description: ModelVerse API endpoint documented for Midjourney.

tags:
  - name: Midjourney
    description: Asynchronous Midjourney image generation and follow-up actions.

security:
  - bearerAuth: []

paths:
  /v1/tasks/submit:
    post:
      tags:
        - Midjourney
      operationId: submitMidjourneyTask
      summary: 提交 Midjourney 任务
      description: |
        提交异步任务。请求体中的模型和参数按本模型文档填写，响应会返回任务 ID。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MidjourneyTaskSubmitRequest"
            examples:
              imagine:
                summary: 文生图
                value:
                  model: midjourney-fast-imagine
                  input:
                    prompt: a cute cat sitting on a cloud, anime style
              upscale:
                summary: 放大 U1
                value:
                  model: midjourney-fast-upscale
                  input: {}
                  parameters:
                    mj_task_id: "1775203239196609"
                    mj_custom_id: MJ::JOB::upsample::1::431a5822-bfb2-4c55-8fc5-fc101abebd91
              variation:
                summary: 创建 V1 变体
                value:
                  model: midjourney-fast-variation
                  input: {}
                  parameters:
                    mj_task_id: "1775203239196609"
                    mj_custom_id: MJ::JOB::variation::1::431a5822-bfb2-4c55-8fc5-fc101abebd91
              reroll:
                summary: 重新生成全部图像
                value:
                  model: midjourney-fast-reroll
                  input: {}
                  parameters:
                    mj_task_id: "1775203239196609"
                    mj_custom_id: MJ::JOB::reroll::0::431a5822-bfb2-4c55-8fc5-fc101abebd91::SOLO
      responses:
        "200":
          description: 任务提交成功。
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MidjourneyTaskSubmitResponse"
              examples:
                submitted:
                  summary: 已提交任务
                  value:
                    output:
                      task_id: "1775203239196609"
                    request_id: abc123...
        "400":
          description: Invalid request parameters or task submission error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MidjourneyHttpErrorResponse"
              examples:
                invalidRequest:
                  $ref: "#/components/examples/MidjourneyHttpError"
        default:
          description: 错误响应。
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MidjourneyHttpErrorResponse"
              examples:
                error:
                  $ref: "#/components/examples/MidjourneyHttpError"

  /v1/tasks/status:
    get:
      tags:
        - Midjourney
      operationId: getMidjourneyTaskStatus
      summary: 查询 Midjourney 任务
      description: |
        查询异步任务状态。任务完成后，响应中会包含结果 URL、用量信息或错误信息。
      parameters:
        - name: task_id
          in: query
          required: true
          description: Asynchronous task identifier returned by `/v1/tasks/submit`.
          schema:
            type: string
          examples:
            documented:
              summary: 源文档任务 ID 示例
              value: "1775203239196609"
      responses:
        "200":
          description: 任务状态响应。
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MidjourneyTaskStatusResponse"
              examples:
                success:
                  summary: 带后续操作按钮的成功任务
                  value:
                    output:
                      task_id: "1775203239196609"
                      task_status: Success
                      urls:
                        - https://example.com/midjourney-grid.png
                      submit_time: 1775203239
                      buttons:
                        - custom_id: MJ::JOB::upsample::1::431a5822-bfb2-4c55-8fc5-fc101abebd91
                          label: U1
                        - custom_id: MJ::JOB::upsample::2::431a5822-bfb2-4c55-8fc5-fc101abebd91
                          label: U2
                        - custom_id: MJ::JOB::upsample::3::431a5822-bfb2-4c55-8fc5-fc101abebd91
                          label: U3
                        - custom_id: MJ::JOB::upsample::4::431a5822-bfb2-4c55-8fc5-fc101abebd91
                          label: U4
                        - custom_id: MJ::JOB::reroll::0::431a5822-bfb2-4c55-8fc5-fc101abebd91::SOLO
                          emoji: "\U0001F504"
                        - custom_id: MJ::JOB::variation::1::431a5822-bfb2-4c55-8fc5-fc101abebd91
                          label: V1
                        - custom_id: MJ::JOB::variation::2::431a5822-bfb2-4c55-8fc5-fc101abebd91
                          label: V2
                        - custom_id: MJ::JOB::variation::3::431a5822-bfb2-4c55-8fc5-fc101abebd91
                          label: V3
                        - custom_id: MJ::JOB::variation::4::431a5822-bfb2-4c55-8fc5-fc101abebd91
                          label: V4
                failure:
                  summary: 失败任务
                  value:
                    output:
                      task_id: "1775203239196609"
                      task_status: Failure
                      submit_time: 1775203239
                      error_message: Generation failed.
        "400":
          description: 任务标识无效或任务状态查询失败。
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MidjourneyHttpErrorResponse"
              examples:
                invalidRequest:
                  $ref: "#/components/examples/MidjourneyHttpError"
        default:
          description: 错误响应。
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MidjourneyHttpErrorResponse"
              examples:
                error:
                  $ref: "#/components/examples/MidjourneyHttpError"

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API key

  schemas:
    MidjourneyTaskSubmitRequest:
      oneOf:
        - $ref: "#/components/schemas/MidjourneyImagineSubmitRequest"
        - $ref: "#/components/schemas/MidjourneyUpscaleSubmitRequest"
        - $ref: "#/components/schemas/MidjourneyVariationSubmitRequest"
        - $ref: "#/components/schemas/MidjourneyRerollSubmitRequest"
      discriminator:
        propertyName: model
        mapping:
          midjourney-fast-imagine: "#/components/schemas/MidjourneyImagineSubmitRequest"
          midjourney-fast-upscale: "#/components/schemas/MidjourneyUpscaleSubmitRequest"
          midjourney-fast-variation: "#/components/schemas/MidjourneyVariationSubmitRequest"
          midjourney-fast-reroll: "#/components/schemas/MidjourneyRerollSubmitRequest"

    MidjourneyImagineSubmitRequest:
      type: object
      additionalProperties: false
      required:
        - model
        - input
      properties:
        model:
          type: string
          const: midjourney-fast-imagine
          description: Text-to-image model returning one grid image with four generated images.
        input:
          $ref: "#/components/schemas/MidjourneyImagineInput"

    MidjourneyUpscaleSubmitRequest:
      type: object
      additionalProperties: false
      required:
        - model
        - input
        - parameters
      properties:
        model:
          type: string
          const: midjourney-fast-upscale
          description: Upscales a selected image or performs documented follow-up upscale actions.
        input:
          $ref: "#/components/schemas/MidjourneyEmptyInput"
        parameters:
          $ref: "#/components/schemas/MidjourneyActionParameters"

    MidjourneyVariationSubmitRequest:
      type: object
      additionalProperties: false
      required:
        - model
        - input
        - parameters
      properties:
        model:
          type: string
          const: midjourney-fast-variation
          description: Generates four variations from a selected image.
        input:
          $ref: "#/components/schemas/MidjourneyEmptyInput"
        parameters:
          $ref: "#/components/schemas/MidjourneyActionParameters"

    MidjourneyRerollSubmitRequest:
      type: object
      additionalProperties: false
      required:
        - model
        - input
        - parameters
      properties:
        model:
          type: string
          const: midjourney-fast-reroll
          description: Regenerates all four images from the previous task.
        input:
          $ref: "#/components/schemas/MidjourneyEmptyInput"
        parameters:
          $ref: "#/components/schemas/MidjourneyActionParameters"

    MidjourneyImagineInput:
      type: object
      additionalProperties: false
      required:
        - prompt
      properties:
        prompt:
          type: string
          description: Prompt text. Required for `midjourney-fast-imagine`.

    MidjourneyEmptyInput:
      type: object
      additionalProperties: false
      description: |
        查询异步任务状态。任务完成后，响应中会包含结果 URL、用量信息或错误信息。
    MidjourneyActionParameters:
      type: object
      additionalProperties: false
      required:
        - mj_task_id
        - mj_custom_id
      properties:
        mj_task_id:
          type: string
          description: Previous task ID required for upscale, variation, and reroll.
        mj_custom_id:
          type: string
          description: "`custom_id` from a previous status response `buttons` item."

    MidjourneyTaskSubmitResponse:
      type: object
      additionalProperties: false
      required:
        - output
      properties:
        output:
          type: object
          additionalProperties: false
          required:
            - task_id
          properties:
            task_id:
              type: string
              description: Asynchronous task identifier.
        request_id:
          type: string
          description: Request identifier returned by ModelVerse.

    MidjourneyTaskStatusResponse:
      type: object
      additionalProperties: false
      required:
        - output
      properties:
        output:
          $ref: "#/components/schemas/MidjourneyTaskStatusOutput"

    MidjourneyTaskStatusOutput:
      type: object
      additionalProperties: false
      required:
        - task_id
        - task_status
      properties:
        task_id:
          type: string
          description: Task ID.
        task_status:
          $ref: "#/components/schemas/MidjourneyTaskStatus"
        urls:
          type: array
          description: |
            Image URL list. Imagine, variation, and reroll return one grid image;
            upscale returns one single-image URL.
          items:
            type: string
            format: uri
        submit_time:
          type: integer
          format: int64
          description: Unix timestamp in seconds.
        buttons:
          type: array
          description: Continuation buttons containing `custom_id` values for follow-up actions.
          items:
            $ref: "#/components/schemas/MidjourneyButton"
        error_message:
          type: string
          description: Error message present when `task_status` is `Failure`.

    MidjourneyTaskStatus:
      type: string
      enum:
        - Pending
        - Running
        - Success
        - Failure

    MidjourneyButton:
      type: object
      additionalProperties: false
      required:
        - custom_id
      anyOf:
        - required:
            - label
        - required:
            - emoji
      properties:
        custom_id:
          type: string
          description: Button custom ID used as `parameters.mj_custom_id`.
        label:
          type: string
          description: Button label, such as `U1` or `V1`.
        emoji:
          type: string
          description: Button emoji, such as the reroll button.

    MidjourneyHttpErrorResponse:
      type: object
      additionalProperties: true
      description: |
        查询异步任务状态。任务完成后，响应中会包含结果 URL、用量信息或错误信息。
      properties:
        error:
          type: object
          additionalProperties: true
          properties:
            message:
              type: string
            type:
              type: string
            code:
              type:
                - string
                - "null"
            param:
              type:
                - string
                - "null"
        request_id:
          type: string

  examples:
    MidjourneyHttpError:
      summary: HTTP 错误响应
      value:
        error:
          message: Invalid param
          type: invalid_request_error
          code: param_error
          param: model
