openapi: 3.1.0
x-language: zh-CN
info:
  title: stepfun-ai-step1x-edit接口文档
  version: "1.0.0"
  description: |
    这是 ModelVerse 上 `stepfun-ai-step1x-edit` 的图片接口文档，说明如何发起图片生成或编辑请求、填写参数、读取结果以及处理错误。
    接口路径包括 `POST /v1/images/generations`。
servers:
  - url: https://api.modelverse.cn
    description: 该模型文档中使用的 ModelVerse API 端点。

tags:
  - name: stepfun-ai/step1x-edit
    description: Image editing requests with the stepfun-ai/step1x-edit model.

security:
  - bearerAuth: []

paths:
  /v1/images/generations:
    post:
      tags:
        - stepfun-ai/step1x-edit
      operationId: createStepfunAiStep1xEditImageGeneration
      summary: 使用 stepfun-ai/step1x-edit 编辑图像
      description: |
        发起图片生成请求。请求体包含模型、提示词和可选生成参数，响应返回图片 URL 或 Base64 图像数据。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/StepfunAiStep1xEditRequest"
            examples:
              base64Image:
                summary: 源文档 document Base64图像请求
                value:
                  model: stepfun-ai/step1x-edit
                  prompt: Convert to quick pencil sketch
                  image: data:image/png;base64,{image_base64_string}
                  negative_prompt: blurry, low quality
              imageUrlWithControls:
                summary: 编辑an 图像 URL带生成控制参数
                value:
                  model: stepfun-ai/step1x-edit
                  prompt: Turn the product photo into a clean pencil sketch
                  image: https://example.com/source.png
                  n: 2
                  strength: 0.8
                  seed: 42
                  steps: 20
                  guidance_scale: 2.5
                  response_format: url
              base64ResponseFormat:
                summary: Request Base64 输出
                value:
                  model: stepfun-ai/step1x-edit
                  prompt: Convert to quick pencil sketch
                  image: data:image/png;base64,{image_base64_string}
                  response_format: b64_json
      responses:
        "200":
          description: Image response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StepfunAiStep1xEditResponse"
              examples:
                documentedResponse:
                  summary: 源文档响应示例
                  value:
                    created: 1750667997
                    data:
                      - url: https://xxxxx/xxxx.png
                        b64_json: data:image/png;base64,{image_base64_string}
                    usage:
                      input_tokens_details: {}
                urlResponse:
                  summary: 包含图像 URL 的响应
                  value:
                    created: 1750667997
                    data:
                      - url: https://xxxxx/xxxx.png
                    usage:
                      input_tokens_details: {}
                base64Response:
                  summary: 包含 Base64 图像数据的响应
                  value:
                    created: 1750667997
                    data:
                      - b64_json: data:image/png;base64,{image_base64_string}
                    usage:
                      input_tokens_details: {}
        "400":
          description: 请求参数无效或图像生成失败。
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StepfunAiStep1xEditErrorResponse"
              examples:
                documentedError:
                  $ref: "#/components/examples/StepfunAiStep1xEditError"
        default:
          description: 错误响应。
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StepfunAiStep1xEditErrorResponse"
              examples:
                documentedError:
                  $ref: "#/components/examples/StepfunAiStep1xEditError"

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API key
      description: |
        发起图片生成请求。请求体包含模型、提示词和可选生成参数，响应返回图片 URL 或 Base64 图像数据。
  schemas:
    StepfunAiStep1xEditModel:
      type: string
      const: stepfun-ai/step1x-edit
      description: |
        发起图片生成请求。请求体包含模型、提示词和可选生成参数，响应返回图片 URL 或 Base64 图像数据。
    StepfunAiStep1xEditPrompt:
      type: string
      minLength: 1
      description: |
        发起图片生成请求。请求体包含模型、提示词和可选生成参数，响应返回图片 URL 或 Base64 图像数据。
      examples:
        - Convert to quick pencil sketch

    StepfunAiStep1xEditImage:
      type: string
      minLength: 1
      description: |
        发起图片生成请求。请求体包含模型、提示词和可选生成参数，响应返回图片 URL 或 Base64 图像数据。
      examples:
        - data:image/png;base64,{image_base64_string}
        - https://example.com/source.png

    StepfunAiStep1xEditImageCount:
      type: integer
      minimum: 1
      maximum: 4
      default: 1
      description: |
        发起图片生成请求。请求体包含模型、提示词和可选生成参数，响应返回图片 URL 或 Base64 图像数据。
    StepfunAiStep1xEditStrength:
      type: number
      format: float
      minimum: 0
      maximum: 1
      default: 0.8
      description: |
        发起图片生成请求。请求体包含模型、提示词和可选生成参数，响应返回图片 URL 或 Base64 图像数据。
    StepfunAiStep1xEditSeed:
      type: integer
      default: -1
      description: |
        发起图片生成请求。请求体包含模型、提示词和可选生成参数，响应返回图片 URL 或 Base64 图像数据。
      examples:
        - -1
        - 42

    StepfunAiStep1xEditSteps:
      type: integer
      minimum: 1
      maximum: 50
      default: 20
      description: |
        发起图片生成请求。请求体包含模型、提示词和可选生成参数，响应返回图片 URL 或 Base64 图像数据。
    StepfunAiStep1xEditGuidanceScale:
      type: number
      format: float
      minimum: 1
      maximum: 10
      default: 2.5
      description: |
        发起图片生成请求。请求体包含模型、提示词和可选生成参数，响应返回图片 URL 或 Base64 图像数据。
    StepfunAiStep1xEditNegativePrompt:
      type: string
      description: |
        发起图片生成请求。请求体包含模型、提示词和可选生成参数，响应返回图片 URL 或 Base64 图像数据。
      examples:
        - blurry, low quality

    StepfunAiStep1xEditResponseFormat:
      type: string
      enum:
        - url
        - b64_json
      default: url
      description: |
        发起图片生成请求。请求体包含模型、提示词和可选生成参数，响应返回图片 URL 或 Base64 图像数据。
    StepfunAiStep1xEditRequest:
      type: object
      additionalProperties: false
      required:
        - model
        - prompt
        - image
      properties:
        model:
          $ref: "#/components/schemas/StepfunAiStep1xEditModel"
        prompt:
          $ref: "#/components/schemas/StepfunAiStep1xEditPrompt"
        image:
          $ref: "#/components/schemas/StepfunAiStep1xEditImage"
        n:
          $ref: "#/components/schemas/StepfunAiStep1xEditImageCount"
        strength:
          $ref: "#/components/schemas/StepfunAiStep1xEditStrength"
        seed:
          $ref: "#/components/schemas/StepfunAiStep1xEditSeed"
        steps:
          $ref: "#/components/schemas/StepfunAiStep1xEditSteps"
        guidance_scale:
          $ref: "#/components/schemas/StepfunAiStep1xEditGuidanceScale"
        negative_prompt:
          $ref: "#/components/schemas/StepfunAiStep1xEditNegativePrompt"
        response_format:
          $ref: "#/components/schemas/StepfunAiStep1xEditResponseFormat"

    StepfunAiStep1xEditResponse:
      type: object
      additionalProperties: false
      required:
        - created
        - data
      properties:
        created:
          type: integer
          format: int64
          description: Unix timestamp in seconds for when the request was created.
        data:
          type: array
          minItems: 1
          description: |
            Output image information. When the image is returned as a URL, the
            item contains `url`; when returned as Base64 data, it contains
            `b64_json`. The source notes that generated links expire within
            7 days.
          items:
            $ref: "#/components/schemas/StepfunAiStep1xEditDataItem"
        usage:
          $ref: "#/components/schemas/StepfunAiStep1xEditUsage"

    StepfunAiStep1xEditDataItem:
      type: object
      additionalProperties: false
      anyOf:
        - required:
            - url
        - required:
            - b64_json
      properties:
        url:
          type: string
          format: uri
          description: URL for downloading the generated image.
        b64_json:
          type: string
          description: Base64 image data, optionally prefixed as a data URL.

    StepfunAiStep1xEditUsage:
      type: object
      additionalProperties: true
      description: |
        发起图片生成请求。请求体包含模型、提示词和可选生成参数，响应返回图片 URL 或 Base64 图像数据。
      properties:
        input_tokens_details:
          type: object
          additionalProperties: true

    StepfunAiStep1xEditErrorResponse:
      type: object
      additionalProperties: true
      required:
        - error
      properties:
        error:
          $ref: "#/components/schemas/StepfunAiStep1xEditError"

    StepfunAiStep1xEditError:
      type: object
      additionalProperties: true
      properties:
        message:
          type: string
          description: 错误信息。
        type:
          type: string
          description: 错误类型。
        param:
          type: string
          description: 请求 ID 或相关参数。
        code:
          type: string
          description: 错误码。

  examples:
    StepfunAiStep1xEditError:
      summary: 源文档 error响应example
      value:
        error:
          message: error_message
          type: error_type
          param: request_id
          code: error_code
